
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Light'), local('Nunito-Light'), url(../fonts/Nunito/Nunito-Light.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: local('Nunito Black'), local('Nunito-Black'), url(../fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

