﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/transactioncoin"style="text-decoration: none;"><i class="glyphicon glyphicon-euro"></i>  Manager Transaction Coin</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-2" style="margin-right: 50px;">
                        <div class="controls">
                            <select id="cbMember" class="form-control" data-rel="chosen">
                                <option value="0">Select member</option>
                                @if (ViewData[ViewDataKey.VIEWDATA_LISTMEMBER] != null)
                                {
                                    IEnumerable<MemberBO> lstMember = (IEnumerable<MemberBO>)ViewData[ViewDataKey.VIEWDATA_LISTMEMBER];
                                    if (lstMember != null && lstMember.Count() > 0)
                                    {
                                        foreach (MemberBO mem in lstMember)
                                        {
                                            <option value="@mem.MemberID">@mem.Email</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" name="txtFromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                    </div>
                    <div class="col-md-2" style="margin-right: 40px;">
                        <div class="controls">
                            <select id="cbStatus" class="form-control" data-rel="chosen">
                                <option value="-1">Status</option>
                                <option value="0">Not confirm</option>
                                <option value="1">Confirmed</option>
                                <option value="2">Deleted</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position:relative; height:36px; width:90px" onclick="SearchCoin()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                        <button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcelTrnasctionCoin()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>List Transaction Coin</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>MemberID</th>
                                        <th>ValueTransaction</th>
                                        <th>TransactionBitcoin</th>
                                        @*<th>QRCode</th>*@
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListCoin">

                                    @if (ViewData[ViewDataKey.VIEWDATA_TRANSACTIONCOIN] != null)
                                    {
                                        IEnumerable<TransactionCoinBO> lstTransaction = (IEnumerable<TransactionCoinBO>)ViewData[ViewDataKey.VIEWDATA_TRANSACTIONCOIN];
                                        if (lstTransaction != null && lstTransaction.Count() > 0)
                                        {
                                            foreach (TransactionCoinBO transaction in lstTransaction)
                                            {
                                                string titleStatus = string.Empty;
                                                string status = string.Empty;
                                                if (transaction.Status == 0)
                                                {
                                                    status = "Not confirm";
                                                    titleStatus = "Confirm";
                                                }
                                                else if (transaction.Status == 1)
                                                {
                                                    status = "Confirmed";
                                                    titleStatus = "Actived";
                                                }
                                                else if (transaction.Status == 2)
                                                {
                                                    status = "Deleted";
                                                    titleStatus = "";
                                                }
                                                const int maxlenght=30;
                                                string dot="...";

                                                string transactionBit = (string)transaction.TransactionBitcoin.ToString();
                                                string qrCode = transaction.QRCode.ToString();
                                                try
                                                {
                                                    if (transactionBit.Length > maxlenght)
                                                    {
                                                        transactionBit = transactionBit.Substring(0, maxlenght) + "" + dot;
                                                    }

                                                    if (qrCode.Length > maxlenght)
                                                    {
                                                        qrCode = qrCode.Substring(0, maxlenght) + "" + dot;
                                                    }
                                                }
                                                catch { }
                                                <tr id="trGroup_@transaction.TransactionID" class="none-top-border">
                                                    <td class="center">@transaction.MemberID</td>
                                                    <td class="center">@transaction.ValueTransaction</td>
                                                    <td class="center" title="@transaction.TransactionBitcoin">@transactionBit</td>
                                                    @*<td class="center" title="@transaction.QRCode">@qrCode</td>*@
                                                    <td class="center">@transaction.CreateDate.ToString("MM/dd/yyyy HH:mm:ss")</td>

                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@transaction.TransactionID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        @if (transaction.Status == 0)
                                                        {
                                                            <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="ConfirmTransaction('@transaction.TransactionID','1')" title="@titleStatus">
                                                                <i class="glyphicon glyphicon-edit icon-white"></i>
                                                                Confirm
                                                            </a>
                                                            <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="ConfirmTransaction('@transaction.TransactionID','2')" title="Delete">
                                                                <i class="glyphicon glyphicon-trash icon-white"></i>
                                                                Delete
                                                            </a>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'mm/dd/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'mm/dd/yy' });
</script>
<script type="text/javascript" src="/Scripts/transactioncoin/transactioncoin.js"></script>
<script src="/Scripts/member/member.js"></script>