﻿
@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}
<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right contact-us">
        <div class="contact">
            <div class="content">
                <h2 class="hel-bold c-grey mb-20">CONTACT US</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="hel-bold c-yellow">Technical support</h4>
                        <p class="c-grey">Daily from 10:00AM to 8:00PM (GMT +3)</p>
                        <hr class="lg">
                        <h4 class="hel-bold c-yellow">Emails</h4>
                        <p><span class="hel-bold c-grey">support@cscjackpot.com</span><span class="c-grey-light"> - technical support</span></p>
                        <!-- <hr class="no-line">
                    <h4 class="hel-bold c-yellow">Social networks</h4>
                    <div class="social-inline">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div> -->
                    </div>

                    <div class="col-md-6  col-lg-4 offset-lg-1">
                        <div class="helpful">
                            <img src="~/Content/LandingPageLotte/assets/img/contact/1.png" class="img-responsive" alt="">
                            <h4 class="hel-bold">You can find the answers to the frequently asked questions in our</h4>
                            <button class="btn btn-default btn-sm" onclick="window.location.href='faq'">Help center</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>


