﻿<div class="content-left">
    <div class="countdown">
        <div class="count">
            <span class="text">Hours</span>
            <span class="time hours"></span>
        </div>
        <div class="count">
            <span class="text">Minutes</span>
            <span class="time minutes"></span>
        </div>
        <div class="count">
            <span class="text">Seconds</span>
            <span class="time seconds"></span>
        </div>
        <div class="count jackpot">
            <div class="text-jackpot">JACKPOT POOL</div>
            @Html.Raw(ViewBag.GenJackPot)
            <div class="price-usd">
                <span id="spanUSDLeft" class="c-yellow">62,464.4</span>
                <span>USD</span>
            </div>
        </div>
        <a href="/play-game" class="btn btn-default btn-lg w-100">PLAY NOW</a>
        <div class="social-block">
            <a href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#">
                <i class="fab fa-telegram-plane"></i>
            </a>
            <a href="#">
                <i class="fab fa-twitter"></i>
            </a>
        </div>
    </div>
</div>
<input type="hidden" id="hdJackpot" name="hdJackpot" value="@ViewBag.JackPot" />
<script>
    var countDownDate = new Date("@ViewData[BBH.Lotte.CLP.Shared.KeyManager._ENDDATE]").getTime();
    var now = new Date("@ViewData[BBH.Lotte.CLP.Shared.KeyManager._DATEANDTIME]").getTime();
    var x = setInterval(function () {
        now = now + 1000;
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) + + days * 24;
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        $('.countdown .hours').text(hours);
        $('.countdown .minutes').text(minutes);
        $('.countdown .seconds').text(seconds);
        if (distance < 0) {
            clearInterval(x);
            $('.countdown').hide();
        }
    }, 1000);
</script>
