﻿@using BBH.LotteFE.CLP.Domain;
<div class="col-md-6 col-12 pl-50 border-left">
    <h4 class="hel-bold large">Recent wins</h4>
    @if (ViewData["lstAwardMegaball"] != null)
    {
        IEnumerable<AwardMegaball> lstAwardMegaball = (IEnumerable<AwardMegaball>)ViewData["lstAwardMegaball"];
        if (lstAwardMegaball != null)
        {
            foreach (AwardMegaball award in lstAwardMegaball)
            {
                string dateStart = (award.CreateDate.HasValue ? award.CreateDate.Value.ToString("MMM dd, yyyy"):null);
                string num1 = award.FirstNumber.ToString();
                string num2 = award.SecondNumber.ToString();
                string num3 = award.ThirdNumber.ToString();
                string num4 = award.FourthNumber.ToString();
                string num5 = award.FivethNumber.ToString();
                string extra = award.ExtraNumber.ToString();

                if (award.FirstNumber < 10) { num1 = "0" + num1; }
                if (award.SecondNumber < 10) { num2 = "0" + num2; }
                if (award.ThirdNumber < 10) { num3 = "0" + num3; }
                if (award.FourthNumber < 10) { num4 = "0" + num4; }
                if (award.FivethNumber < 10) { num5 = "0" + num5; }
                if (award.ExtraNumber < 10) { extra = "0" + extra; }

                <div class="row align-items-center mb-40">
                    <div class="col-4">
                        <span class="date">@dateStart</span>
                    </div>
                    <div class="col-8 text-right">
                        <span class="number-ticket">@num1</span>
                        <span class="number-ticket">@num2</span>
                        <span class="number-ticket">@num3</span>
                        <span class="number-ticket">@num4</span>
                        <span class="number-ticket">@num5</span>
                        <span class="number-ticket red">@extra</span>
                    </div>
                </div>
            }
        }
    }
</div>
