﻿@using BBH.LotteFE.CLP.Domain;
<div class="col-md-6 col-12 pr-50">
    <h4 class="hel-bold large">Recent bets</h4>
    @if (ViewData["lstBookingMegaball"] != null)
    {
        IEnumerable<BookingMegaball> lstBookingMegaball = (IEnumerable<BookingMegaball>)ViewData["lstBookingMegaball"];
        if (lstBookingMegaball != null)
        {
            foreach (BookingMegaball booking in lstBookingMegaball)
            {
                int draw = booking.DrawID;
                //string dateDraw = ViewData["dateStart"].ToString();
                string dateDraw = booking.CreateDate.ToString("MMM dd, yyyy");
                string num1 = booking.FirstNumber.ToString();
                string num2 = booking.SecondNumber.ToString();
                string num3 = booking.ThirdNumber.ToString();
                string num4 = booking.FourthNumber.ToString();
                string num5 = booking.FivethNumber.ToString();
                string extra = booking.ExtraNumber.ToString();

                if (booking.FirstNumber < 10) { num1 = "0" + num1; }
                if (booking.SecondNumber < 10) { num2 = "0" + num2; }
                if (booking.ThirdNumber < 10) { num3 = "0" + num3; }
                if (booking.FourthNumber < 10) { num4 = "0" + num4; }
                if (booking.FivethNumber < 10) { num5 = "0" + num5; }
                if (booking.ExtraNumber < 10) { extra = "0" + extra; }
                <div class="row align-items-center mb-40">
                    <div class="col-4">
                        <span class="date">@dateDraw</span>
                    </div>
                    <div class="col-8 text-right">
                        <span class="number-ticket">@num1</span>
                        <span class="number-ticket">@num2</span>
                        <span class="number-ticket">@num3</span>
                        <span class="number-ticket">@num4</span>
                        <span class="number-ticket">@num5</span>
                        <span class="number-ticket red">@extra</span>
                    </div>
                </div>
            }
        }

    }


</div>
