﻿@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}

<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right header-w">
        <div class="content-w">
            <div class="content">
                <h2 class="hel-bold c-grey">PRIVACY POLICY</h2>
                <div class="mt-30">
                    <h4>This PRIVACY POLICY was last updated on 12th of Jun, 2018.</h4>
                    <p class="hel-bold c-yellow mb-0">THIS PRIVACY POLICY IS INCORPORATED AND MADE A PART OF CSC Jackpot TERMS OF SERVICE. </p>
                    <p>Tech Sharing Community LTD., a company situated at Iltershore Chambers, Road Town, Tortol4 British Virgin Islands, has created this privacy statement in order to disclose our information gathering and dissemination practices for CSC Jackpot Website. </p>
                    <p class="hel-bold">PLEASE READ THIS DOCUMENT CAREFULLY. IT CONTAINS IMPORTANT INFORMATION THAT YOU SHOULD KNOW BEFORE CONTINUING TO USE OUR WEBSITE OR SERVICES <span class="c-yellow"> (As such term defined in the Terms of Services)</span>. BY CONTINUING TO USE CSC Jackpot WEBSITE AND SERVICES YOU WILL BE DEEMED TO HAVE ACCEPTED THIS PRIVACY POLICY.</p>
                    <hr class="xl" />
                    <h4>Introduction</h4>
                    <p><span>1. </span>This Privacy Policy (hereinafter referred to as the “Policy”) sets forth the general rules of collection, processing, distribution, use and storage of Website user’s Personal data including any dispute concerning privacy under current General Data Protection Regulation (GDPR), and in accordance with the data protection regulations in British Virgin Islands applicable to the Tech Sharing Community LTD., (hereinafter the “CSC Jackpot”, “Company”, “Us”, “We”).</p>
                    <p><span>2. </span>It is understood and presumed that by the fact of use of the Website and its services or by clicking ““I AGREE WITH WITH THE Terms of Use AND PRIVACY POLICY” button the User gives Consent, that he/she/it has fully read, understood and accepted this Policy. If any User does not agree with this Policy in general or any part of it, such User should withhold from using the Website and its services.</p>
                    <p><span>3. </span>This Privacy Policy may be modified, changed, supplemented, updated at any time with prior written notice from CSC Jackpot. Your continued use of the Website and its services after any amendments or alterations of this Privacy Policy without notification of CSC Jackpot shall constitute your consent hereto and acceptance hereof of an updated version of this Privacy Policy. At any case, the date of the most recent amendments and alterations will be indicated at the top of this web page. If the User does not agree to such revised terms of the Privacy Policy or Terms of Use he/she/it must stop using this Website and this account and may withdraw from his/her/its obligations under this Privacy Policy.</p>
                    <p><span>4. </span>All personal data of data subject is processed with aim of compliance with a legal obligation under Art. 6(1) lit. of GDPR under which data controller is obliged to receive consent of data subject for specific processing operations with personal data.</p>
                    <p><span>5. </span>The data controller & Data Protection Officer of this Website is Tech Sharing Community LTD, a company at Iltershore Chambers, Road Town, Tortol4 British Virgin Islands, Contact details: support@cscjackpot.com. Any data subject may, at any time, contact Data Protection Officer of directly with any request related to data protection.</p>
                    <p><span class="hel-bold">Legal basis for the processing of personal data</span></p>
                    <hr class="xl" />
                    <h4>Our privacy policy</h4>
                    <p><span>1. </span>Information we collect about you</p>
                    <p><span class="hel-bold">We will collect your information including:</span></p>
                    <div class="ml-20">
                        <p>
                            <span class="hel">a. Personal data: </span><br />Personal data means any information relating to an identified or identifiable natural person (“data subject”). An identifiable natural person is an individual that can be identified, directly or indirectly, in particular by reference to an identifier such as a name, and email.
                        </p>
                        <p><span class="hel">b. Data Subject: </span><br />Data subject is any identified or identifiable natural person, whose personal data is processed by the controller responsible for the processing.</p>
                        <p><span class="hel">c. Processing: </span><br />rocessing is any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction.</p>
                        <p><span class="hel">d. Restriction of processing:</span><br />Restriction of processing is the marking of stored personal data with the aim of limiting their processing in the future</p>
                        <p><span class="hel">e. Profiling: </span><br />Profiling means any form of automated processing of personal data consisting of the use of personal data to evaluate certain personal aspects relating to a natural person, in particular to analyse or predict aspects concerning that natural person's performance at work, economic situation, health, personal preferences, interests, reliability, behaviour, location or movements.</p>
                    </div>
                    <p><span>2. </span>How and why we use your personal data</p>
                    <p>When you create an account with us, we process personal data (such as name, email address) so that we can correctly administer your account and provide you with the games. All personal data we process is directly linked to a specific purpose, such as registering as an user/ agent).</p>
                    <p>At any time, you can access, update, rectify or erase any personal data by logging into your account and clicking “User Info” or contacting Customer Support. Please see our Privacy Policy for more detailed information about how we protect your personally identifiable information.</p>
                    <p>The Website of Tech Sharing Community LTD collects a series of general data and information when a data subject or automated system calls up the website. This general data and information are stored in the server log files.</p>
                    <p><span>The following information may be collected for general purposes:</span></p>
                    <div class="ml-20">
                        <p><span class="hel">(1) </span>the browser type and its version;</p>
                        <p><span class="hel">(2) </span>the operating system used by the accessing system,</p>
                        <p><span class="hel">(3) </span>the website from which an accessing system reaches the website;</p>
                        <p><span class="hel">(4) </span>the sub-websites;</p>
                        <p><span class="hel">(5) </span>the date and time of access to the Internet site;</p>
                        <p><span class="hel">(6) </span>an Internet protocol address (IP address);</p>
                        <p><span class="hel">(7) </span>the Internet service provider of the accessing system; and</p>
                        <p><span class="hel">(8) </span>any other similar data and information that may be used in the event of attacks on our information technology systems.</p>
                    </div>
                    <p>When using these general data and information, Tech Sharing Community LTD. does not draw any conclusions about the data subject. Rather, this information is needed to (1) deliver the content of our website correctly, (2) optimize the content of our website as well as its advertisement, (3) ensure the long-term viability of our information technology systems and website technology, and (4) provide law enforcement authorities with the information necessary for criminal prosecution in case of a cyber-attack. Therefore, Tech Sharing Community LTD analyzes anonymously collected data and information statistically, with the aim of increasing the data protection and data security of our enterprise, and to ensure an optimal level of protection for the personal data we process. The anonymous data of the server log files are stored separately from all personal data provided by a data subject.</p>
                    <div class="ml-20">
                        <p><span class="hel">(1) </span>Contact information, such as name, home address, and email address;</p>
                        <p><span class="hel">(2) </span>Account information, such as username and password;</p>
                        <p><span class="hel">(3) </span>Information related to you virtual wallets public addresses;</p>
                        <p><span class="hel">(4) </span>Financial information, such as bank account numbers, bank statement, and trading information;</p>
                        <p><span class="hel">(5) </span>Identity verification information, such as images of your government issued ID, passport, national ID card, or driving license.</p>
                        <p><span class="hel">(6) </span>Residence verification information, such as Utility bill details or similar information.</p>
                    </div>
                    <p><span>3. </span>How we share your data with third parties</p>
                    <p>The website contains information that enables a quick electronic contact to Tech Sharing Community LTD. If a data subject contacts the controller by e-mail or via a contact form, the personal data transmitted by the data subject is automatically stored. Such personal data transmitted on a voluntary basis by a data subject to the data controller is stored for the purpose of processing or contacting the data subject. There is no transfer of this personal data to third parties.</p>
                    <p><span>Erasure and block of personal data</span></p>
                    <p>The data controller process and store the personal data of the data subject only for the period necessary to achieve the purpose of storage. If the storage purpose is not applicable, or if a storage period expires, the personal data is routinely blocked or erased.</p>
                    <p><span>4. </span>How we protect your personal data</p>
                    <p>We endeavor to keep your personal data safe and secure at all times. Depending on the CSC Jackpot services used, personal data is normally processed with robust technical and organizational safeguards in place to protect such personal data. Passwords are required to access your personal data, so please remember to keep your password confidential. Even with the best security systems, it is impossible to guarantee 100% protection from hackers and unauthorized third parties who capture information provided over public networks.</p>
                    <p>The data controller process and store the personal data of the data subject only for the period necessary to achieve the purpose of storage. If the storage purpose is not applicable, or if a storage period expires, the personal data is routinely blocked or erased.</p>
                    <p><span>5. </span>How long we keep your personal data</p>
                    <p class="hel-bold">Cookies policy</p>
                    <table class="table-border-bottom">
                        <thead>
                            <tr>
                                <th>Cookie name</th>
                                <th>External party</th>
                                <th class="w-50">Description</th>
                                <th>Lifespan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>SIDCC</td>
                                <td>Google</td>
                                <td>Security cookie to protect users data from unauthorised access</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>VISITOR_INFO1_LIVE, YSC</td>
                                <td>Google</td>
                                <td>Source: Youtube. Various unique identifiers, as well as login information that may relate to a Google account. Google set a number of cookies on any page that includes a Youtube video. While we have no control over the cookies set by Google, they appear to include a mixture of pieces of information to measure the number and behaviour of Youtube users, including information that links your visits to our website with your Google account if you are signed in to one. Information about your use of our website, including your IP address, may be transmitted to Google and stored on servers in the United States.This cookie does not identify you personally unless you are logged into Google, in which case it is linked to your Google account</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Gid</td>
                                <td>Google</td>
                                <td>Collect Google Analytics data; distinguish users</td>
                                <td>24 hours</td>
                            </tr>

                        </tbody>
                    </table>
                    <p><span>6. </span>Your right</p>
                    <p><span>You also have act in the following ways:</span></p>
                    <p><span class="hel">(1) Opting-Out</span></p>
                    <p>As part of our commitment to fair information practices, CSC Jackpot allow you to opt out of the use of information about your activities on other websites to provide you with Interest-based advertising. You can opt out of Google Analytics by installing Google’s opt-out browser add-on, and out of interest-based Google ads using Google’s Ads Settings. Even if you opt out, you may still receive CSC Jackpot advertising. It just means that the advertising you see will not be customised for you.</p>
                    <p><span class="hel">(2) Refusing Cookies</span></p>
                    <p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.You can limit the collection of your information by disabling cookies on your browser. You may also be able to modify your browser settings to require your permission each time a site attempts to set a cookie. However, our website(s) (and many other websites) rely on cookies to enable certain functionality. If you choose to disable cookies, some of the services available on our website may not work properly.</p>
                    <p><span class="hel">(3) Non-CSC Jackpot Websites and Links</span></p>
                    <p>Our websites may contain links to non-CSC Jackpot websites. We are not responsible for the practices of those third party websites. Where you access other websites from our sites using the links provided, the operators of these websites may use cookies in accordance with their own cookies policy, which may differ from ours. You should read their privacy and cookie policies carefully before you provide any personal information to them.</p>
                    <p><span class="hel">(4) Caution regarding automatic Cookie Functionality</span></p>
                    <p>
                        Browsers such as Microsoft Internet Explorer allow you to store passwords and logon IDs so you do not need to re-enter this information each time you access a web site. CSC Jackpot strongly urges you NOT to use this functionality to prevent unauthorized use of your online banking access code(s). This Personal Data includes:
                        <br />
                        The user is notified that blocking all cookies will have a negative impact upon the usability of many websites. If you block cookies, you will not be able to use all or certain features on our website.
                    </p>
                    <p><span>7. </span>Notice</p>
                    <hr class="xl" />
                    <h4>General Data Protection Regulation</h4>
                    <p>
                        The GDPR has legal effect in all EU Member States from 25 May 2018. The Data Protection Directive (Directive 95/46/EC) has been replaced by the GDPR. Although it is a regulation and immediately effective in all EU Member States, there are certain regulations within the GDPR that Member States will be able to legislate upon at a national level for specific reasons, therefore this policy may change accordingly from time to time.
                    </p>
                    <hr class="xl" />
                    <h4>The Legal Basis for Processing Personal Data</h4>
                    <p>CSC Jackpot primarily relies upon Article 6(1)(e) of the GDPR for its legal basis to process such data. Pursuant to this provision of GDPR, CSC Jackpot relies upon the official authority of the Data Controller (the institution that is CSC Jackpot’s customer) to process student data in such a way that anti-plagiarism checks may be made to satisfy the institution that the student’s work is their own.</p>
                    <p>Article 6(1)(f) of the GDPR also provides CSC Jackpot with a lawful basis for processing. This is that it is in the legitimate interests of the Data Controller to process such data at their discretion.</p>
                    <p>Consent is not the primary basis for processing upon which CSC Jackpot relies. However, the End-User License Agreement which CSC Jackpot utilises with students will continue to be in place as a matter of best practice and transparency.</p>
                    <hr class="xl" />
                    <h4></h4>
                    <p><span>The following are some notable aspects of the GDPR:</span></p>
                    <ul>
                        <li>The GDPR applies to all personal data processed;</li>
                        <li>The GDPR makes it clear that when processing the personal data of EU nationals, data processors outside the EEA (including the US) must adhere to the GDPR and process only for lawful reasons;</li>
                        <li>The GDPR requires much more accountability when processing personal data. Privacy must be embedded into everything (services, software, systems, and processes) by design and by default;</li>
                        <li>Individuals’ rights have been strengthened; and</li>
                        <li>
                            To export data outside the EEA, EU Model Contractual Clauses will be favored, which CSC Jackpot uses. Adherence to the EU/US and Swiss/US Privacy Shield is an EU recognised adequate measure for the legal transfer of data outside the EEA. CSC Jackpot is Privacy Shield certified. 
                        </li>
                    </ul>
                    <p><span>Link: </span>http://cscjackpot.com/policy</p>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>

