﻿@{
    ViewBag.Title = "Sign Up";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sign Up</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="~/Content/alertify/bootstrap-alertity.min.css" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.min.css" rel="stylesheet" />
    <!--Style-dev: css for developer-->
    <link href="~/Content/LotteryCarcoin/assets/css/demo.css"s rel="stylesheet" />
</head>

<body class="fixed-sn white-skin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
                <!--Form with header-->
                @*@if ((string)Session["Language"] == "EN")
                    {*@
                <div class="card">
                    <div class="card-block">
                        <!--Header-->
                        <div class="form-header">
                            <h3><i class="fa fa-lock"></i>&nbsp;Sign Up</h3>
                        </div>
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix active"></i>
                            <input type="text" id="txtEmail" name="txtEmail" onfocus="ResetForm('lbEmail', this.value)" placeholder="Email" class="form-control validate">
                            <label id="lbEmail" style="color:red; display:none" class="error-message active"></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix active"></i>
                            <input type="password" id="txtPassword" name="txtPassword" onfocus="ResetForm('lbPass', this.value)" placeholder="Password" class="form-control validate">
                            <label id="lbPass" style="color:red; display:none" class="error-message active"></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix active"></i>
                            <input type="password" id="txtRePassword" name="txtRePassword" onfocus="ResetForm('lbRePass', this.value)" placeholder="Comfirm password" class="form-control validate">
                            <label id="lbRePass" style="color:red; display:none" class="error-message active"></label>
                        </div>

                        @*<div class="md-form">
                                <i class="fa fa-user prefix active"></i>
                                <input type="text" id="txtFullName" name="txtFullName" onfocus="ResetForm('lbFullname', this.value)" placeholder="Fullname" class="form-control validate">
                                <label id="lbFullname" style="color:red; display:none" class="error-message active"></label>
                            </div>
                            <div class="md-form">
                                <i class="fa fa-mobile prefix active"></i>
                                <input type="text" id="txtMobile" name="txtMobile" onfocus="ResetForm('lbMobile', this.value)" placeholder="Mobile" class="form-control validate" onkeypress="return functionx(event)">
                                <label id="lbMobile" style="color:red; display:none" class="error-message active"></label>

                            </div>*@
                        <div class="text-center">
                            <button class="btn btn-primary" onclick="return RegisterMember()">Sign Up</button>
                            <button class="btn btn-primary" onclick="window.location.href='/login'">Sign In</button>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="modal-footer text-center font14">
                        <a onclick="backPagePrev();" title="Go to previous page">Previous Page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popupAlert" class="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong><span id="titleMesseage"></span>!</strong> <span id="messeage"></span>
    </div>
    <div id="loading" class="body-loader slidedown" style="">Please, wait...</div>
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/Content/js/tether.min.js"></script>

    <script src="~/Content/alertify/alertify.js"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script type="text/javascript" src="/Scripts/register/register.js"></script>
</body>
</html>