﻿@model BBH.Lotte.CLP.Web.Models.WithDrawCarcoinModel

<div role="tabpanel" class="tab-pane" id="car">
    <form id="formWithdrawCarCoin" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Carcoin-wallet address</label>
                </div>
                <div class="col-sm-4 col-xs-6">
                    @Html.EditorFor(model => model.AddrressCarCoin, new { htmlAttributes = new { @class = "form-control text-md" }, })
                    @Html.ValidationMessageFor(model => model.AddrressCarCoin)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Amount for withdrawal (from 10 CAR)</label>
                </div>
                <div class="col-sm-4 col-col-xs-12">
                    @Html.EditorFor(model => model.AmountCarCoin, new { htmlAttributes = new { @class = "form-control text-md", @Value = "", @placeholder = "10" , @onkeyup = "OnChangeAmountCarCoin(this);", @onkeypress = "OnChangeAmountCarCoin(this);" }, })
                    @Html.ValidationMessageFor(model => model.AmountCarCoin)
                </div>
                <div class="col-xs-12">
                    <p class="note">Available for withdrawal <span class="c-orange">@ViewBag.CarNumberCoin</span> CAR</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Total</label>
                </div>
                <div class="col-sm-4 col-col-xs-12">
                    @Html.EditorFor(model => model.TotalCarCoin, new { htmlAttributes = new { @class = "form-control text-md", @Value = "", @placeholder = "5", @readonly = "true" }, })
                </div>
                <div class="col-xs-12">
                    <p class="note">Service fee:<span class="c-orange"> @ViewBag.FeeCarCoin CAR</span></p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Send</button>
    </form>
    <input type="hidden" id="hdFeeCarcoin" name="hdFeeBTC" value="@ViewBag.FeeCarCoin" />
</div>
