﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@using System.Configuration;
@using BBH.Lotte.CLP.Shared;
@{
    ViewBag.Title = "Manager Award";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/award" style="text-decoration: none;"><i class="glyphicon glyphicon-gift"></i>  Manager Award</a>
                    </li>
                </ul>
            </div>

            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateNewAward()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>  Create New Award</a>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List Award</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th class="center">AwardID</th>
                                        <th class="center">Award Name</th>
                                        <th class="center">Award Value</th>
                                        <th class="center">Awardfee</th>
                                        <th class="center">Award Percent(%)</th>
                                        <th class="center">Status</th>
                                        <th class="center">Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAward">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARD] != null)
                                    {
                                        IEnumerable<AwardBO> lstAward = (IEnumerable<AwardBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARD];
                                        if (lstAward != null)
                                        {
                                            foreach (AwardBO award in lstAward)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (award.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                //decimal awardValue = award.AwardValue;
                                                //awardValue = Math.Round(awardValue, 6);

                                                decimal awardFee = award.AwardFee;
                                                awardFee = Math.Round(awardFee, 8);

                                                float percent = award.AwardPercent;

                                                 <tr id="trGroup_@award.AwardID" class="none-top-border">
                                                    <td class="center">@award.AwardID</td>
                                                    <td class="center">@award.AwardNameEnglish</td>
                                                    <td class="center">@award.AwardValue</td>
                                                    <td class="center">@awardFee</td>
                                                    <td class="center">@percent</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@award.AwardID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        <a class="btn btn-info btn-sm" title="@award.AwardName" href="#" onclick="ShowPopUpEditAward('@award.AwardID','@award.AwardNameEnglish','@award.AwardValue','@awardFee','@percent', @(award.Priority == Convert.ToInt32(ConfigurationManager.AppSettings[KeyManager.PriorityJackpot]) ? 1 : 0))" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                        <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockAward('@award.AwardID','@award.IsActive')" title="@titleStatus">
                                                            @if (award.IsActive == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdAwardID" value="0" />
<input type="hidden" id="hdAwardID_Temp" value="0" />

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Award Information</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    @*<div class="row" style="margin-bottom:15px">
            <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Award name: </div>
            <div class="col-md-12">
                <div class="md-form">
                    <input type="text" onfocus="ResetForm('lbErrorAwardName', this.value)" id="txtAwardName" name="txtAwardName" placeholder="Vietnamese Award Name"  class="form-control validate">
                </div>
                <label id="lbErrorAwardName" style="color:red; display:none" class=""></label>
            </div>
        </div>*@
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Award name: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorAwardNameEnglish', this.value)" id="txtAwardNameEnglish" name="txtAwardNameEnglish" placeholder="English Award Name" class="form-control validate">

                            </div>
                            <label id="lbErrorAwardNameEnglish" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Award value: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorAwardValue', this.value)" id="txtAwardValue" name="txtAwardValue" placeholder="Award Value" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorAwardValue" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Percent Award </div>
                        <div class="col-md-12">
                            <div class="md-form col-md-2" style="padding-left: 0;">
                                <input type="text" onfocus="ResetForm('lbErrorAwardPecent', this.value)" id="txtpecent" name="txtpecent" placeholder="%" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label class="col-md-10" style="margin-top: 10px;padding-left: 0px;">
                                %
                            </label>

                        </div>

                        <label id="lbErrorAwardPecent" style="color:red; display:none" class="col-md-12"></label>
                    </div>

                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Award Fee: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorAwardFee', this.value)" id="txtAwardFee" name="txtAwardFee" placeholder="Award Fee" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorAwardFee" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveAward()" contenteditable="true">Save</a>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script type="text/javascript" src="/Scripts/award/award.js"></script>
