﻿@using BBH.LotteFE.CLP.Domain;
@{
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}
<div class="heading-sub-section pb-30">
    <h4 class="head-title">@ViewBag.TitlePage</h4>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="row search-date">
                <div class="col-md-3 col-sm-4">
                    <div class="form-group form-orange">
                        <label class="label-control">From Date</label>
                        <input id="txtFromDate" type="text" class="form-control datepicker" />
                        <!-- <input type="text" id="txtFromDate" name="txtFromDate" class="form-control inputLine inputDateTime" placeholder="From Date"> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group form-orange">
                        <label class="label-control">To Date</label>
                        <input id="txtToDate" type="text" class="form-control datepicker" />
                        <!-- <input type="text" id="txtToDate" name="txtToDate" class="form-control inputLine inputDateTime" placeholder="To Date"> -->
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <button id="2lvlModal" type="button" class="btn btn-warning btn-round btn-just-icon" onclick="SearchAward()">
                        <i class="material-icons">search</i>
                    </button>
                    <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table-hover table-responsive table-checkresult td-padding">
                    <thead>
                        <tr>
                            <th class="text-center">Draw</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Winning numbers</th>
                            <th class="text-center">Won</th>
                            <th class="text-center">Jackpot</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyList">
                        @if (Model[0] != null)
                        {
                            @Html.Raw(Model[0]);
                        }
                    </tbody>
                </table>
                @if (Model[1] != null)
                {
                    @Html.Raw(Model[1]);
                }
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
@*<div id="over" style="display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 50;"></div>
    <input type="hidden" id="hdResultNumber" value="@Session["ResultNumber"]" />
    <script src="/Scripts/jqueryui.js"></script>*@
@*<script>
        $("#txtDatetime").datepicker();
    </script>*@
<script src="~/Scripts/awardnumber/award-number.js"></script>

