﻿
@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@{
    ViewBag.Title = "Manager AwardMegaball";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{
    //int configID = int.Parse(ViewData["ComfigID"]);
}
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/awardmegaball" style="text-decoration: none;"><i class="glyphicon glyphicon-stats"></i>  Manager Award Megaball</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    <!--Crucial button-->
                    <div class="col-12 text-center">
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="From date" id="txtFromDate" name="txtFromDate">
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                        </div>
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px; margin-right: 293px; margin-bottom: 16px" onclick="SearchAwardMegaball()"><i class="glyphicon glyphicon-search"></i>  Search</button>


                        @if (ViewBag.IsAutoLottery == 1)
                        {

                        }
                        else
                        {
                            <a onclick="ShowPopupCreateNewAwardMegaball()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>  Create New Award Megaball</a>
                        }

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List Award Megaball</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Draw Number</th>
                                        @*<th>AwardID</th>*@
                                        <th>English Award Name</th>
                                        <th>Number Winner</th>
                                        <th>JackPot(XRP)</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAward">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARDMEGABALL] != null)
                                    {
                                        IEnumerable<AwardMegaballBO> lstAwardMegaball = (IEnumerable<AwardMegaballBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARDMEGABALL];
                                        if (lstAwardMegaball != null)
                                        {
                                            foreach (AwardMegaballBO awardMegaball in lstAwardMegaball)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (awardMegaball.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                MemberBO member = new MemberBO();
                                                //AwardBO award = new AwardBO();

                                                int num1, num2, num3, num4, num5, extranum;
                                                num1 = awardMegaball.FirstNumber;
                                                num2 = awardMegaball.SecondNumber;
                                                num3 = awardMegaball.ThirdNumber;
                                                num4 = awardMegaball.FourthNumber;
                                                num5 = awardMegaball.FivethNumber;
                                                extranum = awardMegaball.ExtraNumber;

                                                //string NumberWiner = num1.ToString() + " " + " " + num2.ToString() + " " + " " + num3.ToString() + " " + " " + num4.ToString() + " " + " " + num5.ToString();

                                                <tr id="trGroup_@awardMegaball.NumberID" class="none-top-border">
                                                    <td class="center">@awardMegaball.DrawID</td>
                                                    <td class="center">@awardMegaball.AwardNameEnglish</td>
                                                    <td class="" style="text-align:center">
                                                        <span class="circle1">@num1</span>
                                                        <span class="circle1">@num2</span>
                                                        <span class="circle1">@num3</span>
                                                        <span class="circle1">@num4</span>
                                                        <span class="circle1">@num5</span>
                                                        &nbsp; &nbsp;<span class="circle_ball">@extranum</span>
                                                    </td>
                                                    <td class="center">@awardMegaball.JackPot</td>
                                                    <td class="center">@awardMegaball.CreateDate</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        @*<a class="btn btn-info btn-sm" title="@awardMegaball.NumberID" href="javascript:void(0)" onclick="ShowPopUpEditAwardMegaball('@awardMegaball.NumberID',@awardMegaball.AwardID,'@awardMegaball.GenCode','@awardMegaball.AwardNameEnglish','@awardMegaball.JackPot')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>*@

                                                        <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="LockAndUnlockAwardMegaball('@awardMegaball.DrawID','@awardMegaball.IsActive')" title="@titleStatus">
                                                            @if (awardMegaball.IsActive == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdNumberID" value="0" />
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Award Megaball Infomation</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <h5>Input Block Hash</h5>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorHashText', this.value)" id="txtBlockHash" name="txtBlockHash" placeholder="Block Hash" @*onkeypress="return functionx(event)"*@ class="form-control validate">

                            </div>
                            <label id="lbErrorHashText" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <h5>Award Name: </h5>
                    <div class="row">
                        <div class="box col-md-12">
                            <div class="controls">
                                <select id="cbAward" class="form-control" data-rel="chosen">
                                    <option value="0" style="width:200px">Select Award English Name</option>
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARD] != null)
                                    {
                                        IEnumerable<AwardBO> lstAward = (IEnumerable<AwardBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARD];
                                        if (lstAward != null && lstAward.Count() > 0)
                                        {
                                            foreach (AwardBO award in lstAward)
                                            {
                                                <option value="@award.AwardID">@award.AwardNameEnglish</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <label id="lbErrorAwardNameEnglish" style="color:red; display:none; margin-left:15px" class=""></label>
                    </div>
                    @*<h5>JackPot (XRP): </h5>
                        <div class="row" style="margin-bottom:15px">
                            First column
                            <div class="col-md-12">
                                <div class="md-form">
                                    <input type="text" onfocus="ResetForm('lbErrorJackPot', this.value)" id="txtJackPot" name="txtJackPot" placeholder="Block Hash" class="form-control validate">

                                </div>
                                <label id="lbErrorJackPot" style="color:red; display:none" class=""></label>
                            </div>
                        </div>*@

                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SubmitAward()" contenteditable="false">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script type="text/javascript" src="/Scripts/awardmegaball/awardmegaball.js"></script>
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'mm/dd/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'mm/dd/yy' });</script>


