﻿
@{
    int groupID = 0;
    Int32.TryParse(System.Configuration.ConfigurationManager.AppSettings["GroupID"], out groupID);

    int groupIDAdmin = 0;
    Int32.TryParse(System.Configuration.ConfigurationManager.AppSettings["GroupIDAdmin"], out groupIDAdmin);
}
<div class="col-sm-2 col-lg-2">
    <div class="sidebar-nav">
        <div class="nav-canvas">
            <div class="nav-sm nav nav-stacked">
            </div>
            <ul class="nav nav-pills nav-stacked main-menu">
                @if (Session["GroupIDAdmin"] != null)
                {
                    if ((int)Session["GroupIDAdmin"] == groupIDAdmin)
                    {
                        <li class="nav-header">Main</li>
                        <li>
                            <a class="ajax-link" href="/"><i class="glyphicon glyphicon-home"></i><span> Dashboard</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/groupadmin"><i class="glyphicon glyphicon-book"></i><span> Manager Function</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/admin"><i class="glyphicon glyphicon-eye-open"></i><span> Manager Admin</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/member"><i class="glyphicon glyphicon-user"></i><span>Manager Member</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/transactioncoin">
                                <i class="glyphicon glyphicon-euro"></i><span> Manager Transaction Coin</span>
                            </a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/bookingmegaball"><i class="glyphicon glyphicon-shopping-cart"></i><span> Manager Booking Megaball Ticket</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/award"><i class="glyphicon glyphicon-gift"></i><span> Manager Award</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/systemconfig"><i class="glyphicon glyphicon-gift"></i><span> System Config</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/awardmegaball"><i class="glyphicon glyphicon-stats"></i><span> Manager Award Megaball</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/exchangeticket"><i class="glyphicon glyphicon-comment"></i><span> Manager ExchangeTicket</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/ticketconfig"><i class="glyphicon glyphicon-comment"></i><span> Manager Ticket Config</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/awardmegaballresult"><i class="glyphicon glyphicon-th-list"></i><span> Manager Result Award Megaball</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/withdraw"><i class="glyphicon glyphicon-th-list"></i><span> Manager Withdraw</span></a>
                        </li>
                        <li>
                            <a class="ajax-link" href="/country"><i class="glyphicon glyphicon-picture"></i><span> Manager Country SMS</span></a>
                        </li>
                    }
                }

                @if (Session["GroupIDAdmin"] != null)
                {
                    if ((int)Session["GroupIDAdmin"] == groupID)
                    {
                        <li>
                            <a class="ajax-link" href="/awardwithdraw"><i class="glyphicon glyphicon-gift"></i><span> Manager Award Withdraw</span></a>
                        </li>
                    }
                }

            </ul>

        </div>
    </div>
</div>