﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well" data-original-title="">
                <h2>List Booking Megaball <span id="spanAwardDate">@DateTime.Now.ToString("MM/dd/yyyy")</span></h2>
                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default">
                        <i class="glyphicon glyphicon-chevron-up"></i>
                    </a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <div class="row">
                    <div class="box col-md-12">                    
                        <div class="col-md-3" style="left:-25px">
                            <input type="text" onkeydown="return ProccessSearch(event,this.value)" class="form-control" placeholder="Input email" id="txtKeyword" name="txtKeyword">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchMemberBookingMegaball()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                            <button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcel_BookingMegaballTicket()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>
                        </div>                      
                    </div>
                </div>
            </div>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Email</th>
                            <th style="width:185px">Ticket</th>
                            <th style="width:50px">Quantity</th>
                            <th>TransactionCode</th>
                            <th>Buy Date</th>
                            <th>Open Date</th>
                            <th>Status</th>
                            <th>Confirm</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyListBooking">
                        @if (ViewData[ViewDataKey.VIEWDATA_LISTBOOKINGMEGABALL] != null)
                        {
                            IEnumerable<BookingMegaballBO> lstBooking = (IEnumerable<BookingMegaballBO>)ViewData[ViewDataKey.VIEWDATA_LISTBOOKINGMEGABALL];
                            if (lstBooking != null && lstBooking.Count() > 0)
                            {
                                foreach (BookingMegaballBO booking in lstBooking)
                                {
                                    string titleStatus = string.Empty;
                                    string status = string.Empty;
                                    if (booking.Status == 0)
                                    {
                                        status = "Not confirm";
                                        titleStatus = "Confirm";
                                    }
                                    else if (booking.Status == 1)
                                    {
                                        status = "Confirm";
                                        titleStatus = "Actived";
                                    }
                                    else if (booking.Status == 2)
                                    {
                                        status = "Deleted";
                                        titleStatus = "";
                                    }
                                    const int maxlenght = 20;
                                    string transactionCode = booking.TransactionCode.ToString();
                                    string dot = "...";
                                    if (transactionCode.Length > maxlenght)
                                    {
                                        transactionCode = transactionCode.Substring(0, maxlenght) + "" + dot;
                                    }
                                    int number1, number2, number3, number4, number5, extranumber;

                                    number1 = booking.FirstNumber;
                                    number2 = booking.SecondNumber;
                                    number3 = booking.ThirdNumber;
                                    number4 = booking.FourthNumber;
                                    number5 = booking.FivethNumber;
                                    extranumber = booking.ExtraNumber;

                                    string NumberWin = number1.ToString() + " " + number2.ToString() + " " + number3.ToString() + " " + number4.ToString() + " " + number5.ToString();
                                    booking.NumberWin = NumberWin;

                                    <tr id="trGroup_@booking.BookingID" class="none-top-border">
                                        <td class="center">@booking.BookingID</td>
                                        <td>@booking.Email</td>

                                        @*<td class="center"><p class="circle">@NumberWin </p><span class="circle1">@extranumber</span></td>*@
                                        <td class="center" style="width:185px">
                                            <span class="circle12">@number1</span>
                                            <span class="circle12">@number2</span>
                                            <span class="circle12">@number3</span>
                                            <span class="circle12">@number4</span>
                                            <span class="circle12">@number5</span>
                                            <span class="circle_ball1">@extranumber</span>
                                        </td>
                                        <td class="center">@booking.Quantity</td>
                                        <td class="center" title="@booking.TransactionCode">@transactionCode</td>
                                        <td class="center">@booking.CreateDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                        <td class="center">@booking.OpenDate.ToString(OpenDateResult.OPENDATERESULT)</td>
                                        <td class="center">
                                            <span class="label-success label label-default">@status</span>
                                        </td>
                                        <td class="center">
                                            @if (booking.Status == 0)
                                            {
                                                <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="ConfirmBookingMegaball('@booking.BookingID','1','@booking.MemberID','@booking.Quantity')" title="@titleStatus"><i class="glyphicon glyphicon-edit icon-white"></i>Confirm</a>
                                                            <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="ConfirmBookingMegaball('@booking.BookingID','2','@booking.MemberID','@booking.Quantity')" title="Delete"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                                            }
                                            else if (booking.Status == 1)
                                            {
                                                <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="ConfirmBookingMegaball('@booking.BookingID','2','@booking.MemberID','@booking.Quantity')" title="Delete"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                                            }
                                        </td>
                                    </tr>
                                }                              
                            }
                        }
                    </tbody>
                </table>
                @{Html.RenderAction("Index", "Paging");}
            </div>
        </div>
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script type="text/javascript" src="/Scripts/bookingmegaball/bookingmegaball.js"></script>
<script src="/Scripts/masterdata_.js"></script>
<script src="/Content/js/jquery.noty.js"></script>
