﻿
<div class="panel-block">
    <div class="title">TICKET SOLD</div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <table class="table-v2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>Ticket</th>
                        <th>Free</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["ListTicket"] != null)
                    {
                        IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary> lstTicket = (IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary>)ViewData["ListTicket"];
                        if (lstTicket != null && lstTicket.Count() > 0)
                        {
                            int i = 1;
                            foreach (BBH.Lotte.CLP.CMSAdmin.Models.ObjTicketSummary item in lstTicket)
                            {
                                string month = string.Empty;
                                switch(item.Month)
                                {
                                    case 1:
                                        {
                                            month = "JAN";
                                            break;
                                        }
                                    case 2:
                                        {
                                            month = "FEB";
                                            break;
                                        }
                                    case 3:
                                        {
                                            month = "MAR";
                                            break;
                                        }
                                    case 4:
                                        {
                                            month = "APR";
                                            break;
                                        }
                                    case 5:
                                        {
                                            month = "MAY";
                                            break;
                                        }
                                    case 6:
                                        {
                                            month = "JUN";
                                            break;
                                        }
                                    case 7:
                                        {
                                            month = "JUL";
                                            break;
                                        }
                                    case 8:
                                        {
                                            month = "AUG";
                                            break;
                                        }
                                    case 9:
                                        {
                                            month = "SEP";
                                            break;
                                        }
                                    case 10:
                                        {
                                            month = "OCT";
                                            break;
                                        }
                                    case 11:
                                        {
                                            month = "NOV";
                                            break;
                                        }
                                    case 12:
                                        {
                                            month = "DEC";
                                            break;
                                        }

                                }
                <tr>
                    <td>@i</td>
                    <td>@month</td>
                    <td>@item.TotalTicket</td>
                    <td>@item.TotalTicketFree</td>
                </tr>
                                i++;
                                }
                            }
                        }



                </tbody>

            </table>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="box-content">
                <div id="sincos" class="center" style="height:300px"></div>
                <p id="hoverdata">
                    @*Mouse position at (<span id="x">0</span>, <span id="y">0</span>). <span id="clickdata"></span>*@
                </p>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if ($("#sincos").length) {
        var sin = [], cos = [];

        for (var i = 0; i < 13; i += 1) {
            sin.push([i, 300]);
            cos.push([i, 5]);
        }

        var plot = $.plot($("#sincos"),
            [
                { data: sin, label: "Ticket" },
                { data: cos, label: "Free" }
            ], {
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                grid: { hoverable: true, clickable: true, backgroundColor: { colors: ["#fff", "#eee"] } },
                yaxis: { min: 0, max: @ViewBag.MaxTicket },
                colors: ["#539F2E", "#3C67A5"]
            });

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y + 5,
                left: x + 5,
                border: '1px solid #fdd',
                padding: '2px',
                'background-color': '#dfeffc',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        $("#sincos").bind("plothover", function (event, pos, item) {
            $("#x").text(pos.x.toFixed(2));
            $("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                        y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + " of " + x + " = " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });


        $("#sincos").bind("plotclick", function (event, pos, item) {
            if (item) {
                $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                plot.highlight(item.series, item.datapoint);
            }
        });
    }

</script>