﻿@using Newtonsoft.Json;

@{ 
    string json = string.Empty;
    if(ViewData["ListPrize"]!=null)
    {
        IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.PrizeChartJson> lst=(IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.PrizeChartJson>)ViewData["ListPrize"];
            if(lst!=null&&lst.Count()>0)
            {
                json = JsonConvert.SerializeObject((object)lst.ToList());
            }
    }
    var str = Newtonsoft.Json.JsonConvert.DeserializeObject(HttpUtility.HtmlDecode(json));
    str = str.ToString().Replace("\r", "").Replace("\n", "").Replace(" ", "");
    str = HttpUtility.HtmlDecode(str.ToString());
    }
    <div class="panel-block">
        <div class="title">PAY FOR WINNER</div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <table class="table-v2">
                    <thead>
                        <tr>
                            <th>Guessed numbers</th>
                            <th>Prize</th>
                            <th>BTC</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(ViewData["ListPrizeBO"] != null)
                        {
                            IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize> lst = (IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize>)ViewData["ListPrizeBO"];
                            if (lst != null && lst.Count() > 0)
                            {
                                foreach (BBH.Lotte.CLP.CMSAdmin.Models.ObjPrize item in lst)
                                {
                                    <tr>
                                        <td>
                                            @*<i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon"></i><i class="balls-icon orange"></i>*@
                                            @item.AwardID
                                        </td>
                                        <td>@item.AwardName</td>
                                        <td>@item.AwardValues</td>
                                    </tr>
                                }
                            }
                        }
                               
                    </tbody>

                </table>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="box-inner">
                    @*<div class="box-header well" data-original-title="">
                        <h2><i class="glyphicon glyphicon-list-alt"></i> PAY FOR WINNER</h2>
                        <div class="box-icon">
                            <a href="#" class="btn btn-setting btn-round btn-default">
                                <i class="glyphicon glyphicon-cog"></i>
                            </a>
                            <a href="#" class="btn btn-minimize btn-round btn-default">
                                <i class="glyphicon glyphicon-chevron-up"></i>
                            </a>
                            <a href="#" class="btn btn-close btn-round btn-default">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                        </div>
                    </div>*@
                    <div class="box-content">
                        <div id="piechart" style="height:300px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  
    <script src="/Content/bower_components/flot/excanvas.min.js"></script>
    <script src="/Content/bower_components/flot/jquery.flot.js"></script>
    <script src="/Content/bower_components/flot/jquery.flot.pie.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            var strJson = '@HttpUtility.HtmlDecode(str.ToString())';
            strJson = strJson.replace(/&quot;/g, '"');
            setTimeout(SetupChart(strJson), 10);
            // SetupChart();
        });
        function SetupChart(strJson) {

            var data = strJson;
            data = data.replace('"[', '[');
            data = data.replace(']"', ']');
            //var data = [
            //    {"label":"Internet Explorer", "data": 12 },
            //    {"label":"Mobile", "data": 27 },
            //    {"label":"Safari", "data": 85 },
            //    {"label":"Opera", "data": 64 },
            //    { "label": "Firefox", "data": 90 },
            //    { "label": "Firefox", "data": 90 },
            //    { "label": "Firefox", "data": 90 },
            //    { "label": "Firefox", "data": 90 },
            //    { "label": "Firefox", "data": 90 },
            //    {"label":"Chrome", "data": 112 }
            //];
            setTimeout(function () {
                console.log(data.length);
                if ($("#piechart").length) {
                    $.plot($("#piechart"), data,
                        {
                            series: {
                                pie: {
                                    show: true
                                }
                            },
                            grid: {
                                hoverable: true,
                                clickable: true
                            },
                            legend: {
                                show: false
                            }
                        });

                    function pieHover(event, pos, obj) {
                        if (!obj)
                            return;
                        percent = parseFloat(obj.series.percent).toFixed(2);
                        $("#hover").html('<span style="font-weight: bold; color: ' + obj.series.color + '">' + obj.series.label + ' (' + percent + '%)</span>');
                    }

                    $("#piechart").bind("plothover", pieHover);
                }
            }, 1000);

        }
    </script>
