﻿
<div class="panel-block">
    <div class="title">REVENUE</div>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <table class="table-v2">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Month</th>
                        <th>BTC</th>

                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["ListRevenue"] != null)
    {
        IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjRevenue> lstTicket = (IEnumerable<BBH.Lotte.CLP.CMSAdmin.Models.ObjRevenue>)ViewData["ListRevenue"];
        if (lstTicket != null && lstTicket.Count() > 0)
        {
            int i = 1;
            foreach (BBH.Lotte.CLP.CMSAdmin.Models.ObjRevenue item in lstTicket)
            {
                string month = string.Empty;
                switch (item.Month)
                {
                    case 1:
                        {
                            month = "JAN";
                            break;
                        }
                    case 2:
                        {
                            month = "FEB";
                            break;
                        }
                    case 3:
                        {
                            month = "MAR";
                            break;
                        }
                    case 4:
                        {
                            month = "APR";
                            break;
                        }
                    case 5:
                        {
                            month = "MAY";
                            break;
                        }
                    case 6:
                        {
                            month = "JUN";
                            break;
                        }
                    case 7:
                        {
                            month = "JUL";
                            break;
                        }
                    case 8:
                        {
                            month = "AUG";
                            break;
                        }
                    case 9:
                        {
                            month = "SEP";
                            break;
                        }
                    case 10:
                        {
                            month = "OCT";
                            break;
                        }
                    case 11:
                        {
                            month = "NOV";
                            break;
                        }
                    case 12:
                        {
                            month = "DEC";
                            break;
                        }

                }
                <tr>
                    <td>@i</td>
                    <td>@month</td>
                    <td>@item.BTCValues</td>
                </tr>
i++;
}
}
}

                  

                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-xs-12">

        </div>
    </div>
</div>