﻿
<!DOCTYPE html>
<!-- saved from url=(0070)http://demo.interface.club/limitless/layout_1/LTR/material/index.html# -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    <!-- Global stylesheets -->
    <link href="~/Content/css/v2/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/v2/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/v2/core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/v2/components.css" rel="stylesheet" type="text/css">
    <link href="~/Content/css/v2/colors.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/Content/css/jquery.countdownTimer.css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="~/Content/js/v2/pace.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="~/Content/js/v2/d3.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/d3_tooltip.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/switchery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/uniform.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/daterangepicker.js"></script>
    <script type="text/javascript" src="~/Content/js/v2/app.js"></script>
    @*<script type="text/javascript" src="~/Content/js/v2/dashboard.js"></script>*@
    <script type="text/javascript" src="~/Content/js/v2/ripple.min.js"></script>
    <!-- /theme JS files -->

    <script src="/Content/js/jquery.fancybox.js"></script>
    <script src="~/Scripts/common/common.min.js"></script>
</head>
<body class="pace-done">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html">
                <img src="~/Images/logo12.png" alt="">
            </a>
            <ul class="nav navbar-nav visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile" class="legitRipple"><i class="icon-tree5"></i></a></li>
                <li><a class="sidebar-mobile-main-toggle legitRipple"><i class="icon-paragraph-justify3"></i></a></li>
            </ul>
        </div>
        <div id="divCountDownMenu" class="style colorDefinition size_sm headerCountDown_v2">01:09:43</div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav">
                <li><a class="sidebar-control sidebar-main-toggle hidden-xs legitRipple"><i class="icon-paragraph-justify3"></i></a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle legitRipple" data-toggle="dropdown">
                        <label id="lblPoint">0&nbsp;&nbsp;Point</label>
                        <span class="visible-xs-inline-block position-right">Git updates</span>
                        <span class="status-mark border-orange-400"></span>
                    </a>

                    <div class="dropdown-menu dropdown-content">
                        <div class="dropdown-content-heading">
                            Git updates
                            <ul class="icons-list">
                                <li><a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#"><i class="icon-sync"></i></a></li>
                            </ul>
                        </div>
                        <ul class="media-list dropdown-content-body width-350">
                            <li class="media">
                                <div class="media-left">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-pull-request"></i></a>
                                </div>
                                <div class="media-body">
                                    Drop the IE <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">specific hacks</a> for temporal inputs
                                    <div class="media-annotation">4 minutes ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-commit"></i></a>
                                </div>

                                <div class="media-body">
                                    Add full font overrides for popovers and tooltips
                                    <div class="media-annotation">36 minutes ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-branch"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch
                                    <div class="media-annotation">2 hours ago</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-merge"></i></a>
                                </div>

                                <div class="media-body">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Eugene Kopyov</a> merged <span class="text-semibold">Master</span> and <span class="text-semibold">Dev</span> branches
                                    <div class="media-annotation">Dec 18, 18:36</div>
                                </div>
                            </li>
                            <li class="media">
                                <div class="media-left">
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm legitRipple"><i class="icon-git-pull-request"></i></a>
                                </div>

                                <div class="media-body">
                                    Have Carousel ignore keyboard events
                                    <div class="media-annotation">Dec 12, 05:46</div>
                                </div>
                            </li>
                        </ul>
                        <div class="dropdown-content-footer">
                            <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" data-popup="tooltip" title="" data-original-title="All activity"><i class="icon-menu display-block"></i></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="navbar-right">
                <p class="navbar-text">Morning, Victoria!</p>
                <p class="navbar-text"><span class="label bg-success-400">Online</span></p>

                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                            <i class="icon-bell2"></i>
                            <span class="visible-xs-inline-block position-right">Activity</span>
                            <span class="status-mark border-orange-400"></span>
                        </a>
                        <div class="dropdown-menu dropdown-content">
                            <div class="dropdown-content-heading">
                                Activity
                                <ul class="icons-list">
                                    <li><a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#"><i class="icon-menu7"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body width-350">
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-success-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-mention"></i></a>
                                    </div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Taylor Swift</a> mentioned you in a post "Angular JS. Tips and tricks"
                                        <div class="media-annotation">4 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-pink-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-paperplane"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Special offers have been sent to subscribed users by <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Donna Gordon</a>
                                        <div class="media-annotation">36 minutes ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-blue btn-rounded btn-icon btn-xs legitRipple"><i class="icon-plus3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Chris Arney</a> created a new <span class="text-semibold">Design</span> branch in <span class="text-semibold">Limitless</span> repository
                                        <div class="media-annotation">2 hours ago</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-purple-300 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-truck"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Shipping cost to the Netherlands has been reduced, database updated
                                        <div class="media-annotation">Feb 8, 11:30</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-warning-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-bubble8"></i></a>
                                    </div>

                                    <div class="media-body">
                                        New review received on <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#">Server side integration</a> services
                                        <div class="media-annotation">Feb 2, 10:20</div>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="btn bg-teal-400 btn-rounded btn-icon btn-xs legitRipple"><i class="icon-spinner11"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <strong>January, 2016</strong> - 1320 new users, 3284 orders, $49,390 revenue
                                        <div class="media-annotation">Feb 1, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="dropdown-toggle legitRipple" data-toggle="dropdown">
                            <i class="icon-bubble8"></i>
                            <span class="visible-xs-inline-block position-right">Messages</span>
                            <span class="status-mark border-orange-400"></span>
                        </a>

                        <div class="dropdown-menu dropdown-content width-350">
                            <div class="dropdown-content-heading">
                                Messages
                                <ul class="icons-list">
                                    <li><a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#"><i class="icon-compose"></i></a></li>
                                </ul>
                            </div>
                            <ul class="media-list dropdown-content-body">
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/Images/v2/face10.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">5</span>
                                    </div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="media-heading">
                                            <span class="text-semibold">James Alexander</span>
                                            <span class="media-annotation pull-right">04:58</span>
                                        </a>
                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left">
                                        <img src="~/Images/v2/face3.jpg" class="img-circle img-sm" alt="">
                                        <span class="badge bg-danger-400 media-badge">4</span>
                                    </div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="media-heading">
                                            <span class="text-semibold">Margo Baker</span>
                                            <span class="media-annotation pull-right">12:16</span>
                                        </a>
                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><img src="~/Images/v2/face24.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="media-heading">
                                            <span class="text-semibold">Jeremy Victorino</span>
                                            <span class="media-annotation pull-right">22:48</span>
                                        </a>
                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><img src="~/Images/v2/face4.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="media-heading">
                                            <span class="text-semibold">Beatrix Diaz</span>
                                            <span class="media-annotation pull-right">Tue</span>
                                        </a>
                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-left"><img src="~/Images/v2/face25.jpg" class="img-circle img-sm" alt=""></div>
                                    <div class="media-body">
                                        <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="media-heading">
                                            <span class="text-semibold">Richard Vango</span>
                                            <span class="media-annotation pull-right">Mon</span>
                                        </a>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="dropdown-content-footer">
                                <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" data-popup="tooltip" title="" data-original-title="All messages"><i class="icon-menu display-block"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container" style="min-height:875px">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main sidebar -->
            <div class="sidebar sidebar-main sidebar-default">
                <div class="sidebar-content">
                    <!-- User menu -->
                    <div class="sidebar-user-material">
                        <div class="category-content">
                            <div class="sidebar-user-material-content">
                                <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple"><img src="~/Images/v2/face11.jpg" class="img-circle img-responsive" alt=""></a>
                                <h6>Victoria Baker</h6>
                                <span class="text-size-small">Santa Ana, CA</span>
                            </div>

                            <div class="sidebar-user-material-menu">
                                <a href="#" data-toggle="collapse" class="legitRipple" aria-expanded="true"></a>
                            </div>
                        </div>

                        <div class="navigation-wrapper collapse in" id="user-nav" aria-expanded="true" style="">
                            <ul class="navigation">
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-home4"></i> <span>Home</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-coins"></i>
                                        <span>
                                            Buy tickets
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-stack"></i>
                                        <span>
                                            Balance ReFill
                                        </span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-file-spreadsheet"></i> <span>Lotte Result</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-spinner9"></i> <span>Checker</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://demo.interface.club/limitless/layout_1/LTR/material/index.html#" class="legitRipple">
                                        <i class="icon-file-check"></i> <span>Check Transparency</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /user menu -->
                </div>
            </div>
            <!-- /main sidebar -->
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Page header -->
                <!-- /page header -->
                <!-- Content area -->
                @RenderBody()
                <!-- /content area -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->

    <div class="daterangepicker dropdown-menu ltr opensleft"><div class="calendars"><div class="calendar left"><div class="calendar-table"></div><div class="daterangepicker_input"><div class="calendar-time" style="display: none;"><div></div></div></div></div><div class="calendar right"><div class="calendar-table"></div><div class="daterangepicker_input"><div class="calendar-time" style="display: none;"><div></div></div></div></div></div><div class="ranges"><ul><li data-range-key="Today">Today</li><li data-range-key="Yesterday">Yesterday</li><li data-range-key="Last 7 Days">Last 7 Days</li><li data-range-key="Last 30 Days">Last 30 Days</li><li data-range-key="This Month">This Month</li><li data-range-key="Last Month">Last Month</li><li data-range-key="Custom Range">Custom Range</li></ul><div class="daterangepicker-inputs"><div class="daterangepicker_input"><span class="start-date-label">Start date:</span><input class="form-control" type="text" name="daterangepicker_start" value=""><i class="icon-calendar3"></i></div><div class="daterangepicker_input"><span class="end-date-label">End date:</span><input class="form-control" type="text" name="daterangepicker_end" value=""><i class="icon-calendar3"></i></div></div><div class="range_inputs"><button class="applyBtn btn btn-sm btn-small bg-slate-600 btn-block legitRipple" disabled="disabled" type="button">Apply</button> <button class="cancelBtn btn btn-sm btn-small btn-default btn-block legitRipple" type="button">Cancel</button></div></div></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div><div class="d3-tip" style="position: absolute; top: 0px; display: none; pointer-events: none; box-sizing: border-box;"></div>
</body>
</html>
<script src="/Content/js/jquery.countdownTimer.js"></script>
<script type="text/javascript">
        $(function () {
                $('#divCountDownMenu').countdowntimer({
                    hours: '@ViewData[BBH.Lotte.CLP.Shared.KeyManager._HOUR_COUNT_DOWN]',
                    minutes: '@ViewData[BBH.Lotte.CLP.Shared.KeyManager._MINUTE_COUNT_DOWN]',
                    seconds: '@ViewData[BBH.Lotte.CLP.Shared.KeyManager._SECOND_COUNT_DOWN]',
                    size: "sm",
                    tickInterval: 1
                });
        });
</script>