﻿<div class="view intro" id="home" style="background-image: url(/Images/nen_background.png);">
    <div>
        <div id="header_exr" style="height: 250px;">
            <div style=" margin: auto;">
                <img id="IDimgLogo" src="/Images/logo3.png" style="margin: 0px auto; margin-top: 50px;">
            </div>
            <h5 class="font-up white-text" style="width: 100%; text-align: center;">DON'T WASTE YOUR TIME !</h5>
            <h5 class="font-up white-text" style="width: 100%; text-align: center;">WIN TODAY!</h5>
        </div>
        <div id="content_exr">
            <div style=" height: 100%; display: flex; justify-content: center; align-items: center;">
                <div style="position:relative;">
                    <img src="/Images/time_board.png" style="width: 90%; margin: 0px auto; padding-bottom: 10px;">
                    <div style=" position: absolute; width: 100%; top: 20%; z-index: 5; height: 50%; text-align: center; justify-content: center; align-items: center; display: flex;">
                        <div class="ngay" style="padding:10px;">
                            <div style="color: #d32e3e">SATURDAY,MAY 31 JACKPOT</div>
                            <div style="color: #d32e3e; font-size: calc(0.5em + 4vmin);">173 MILLION</div>
                        </div>
                    </div>
                    <div style=" position: absolute; width: 100%; bottom: 0; z-index: 5; height: a; text-align: center; justify-content: center; align-items: center; display: flex;">
                        <img src="/Images/22.png" style="width: 50%;" />
                        <div class="centered" style="position:absolute;">
                            <label id="divCountDownMenu" style="color: #fff; font-size: calc(1em + 1vmin);">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12:12:12</label>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer_exr">
            <div style=" margin: auto; width: 90%; padding: 10px;">
                <div class="btn_playnow button" onclick="ClickPlay()"></div>
            </div>
        </div>
    </div>
</div>

