﻿@using BBH.LotteFE.CLP.Domain;
@{
    ViewBag.Title = "Package Infomation";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<main class="content js-content" style="min-height: 169px;padding-top: 50px;padding-bottom: 87px;">
    <!--MENU-->
    <div class="box-wrap">
        @if ((string)Session["Language"] == "EN")
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">
                    <!-- Section: Edit Account -->
                    <section class="section">
                        <!-- First row -->
                        <div class="row">

                            <div class="col-lg-6" style="margin:0 auto">
                                <!--Card-->
                                <div class="card card-cascade narrower mb-r">
                                    <div class="admin-panel info-admin-panel">
                                        <!--Card image-->
                                        <div class="view primary-color">
                                            <h5>Package Infomation</h5>
                                        </div>
                                        <!--/Card image-->
                                        <!--Card content-->
                                        <div class="card-block">
                                            <!-- Edit Form -->
                                            <!--First row-->
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">Bitcoin Wallet</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" readonly="readonly" value="@ViewData["EWallet"]" id="txtEwallet" name="txtEwallet" class="form-control validate">

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <select id="cbPackage" name="cbPackage" onchange="ResetField()" class="form-control">
                                                            <option title="0" value="0">Choose Package</option>
                                                            @*@if (ViewData["ListPackage"] != null)
                                                            {
                                                                List<PackageBO> lstPackage = (List<PackageBO>)ViewData["ListPackage"];
                                                                if (lstPackage != null && lstPackage.Count() > 0)
                                                                {
                                                                    foreach (PackageBO package in lstPackage)
                                                                    {
                                                                        <option id="@package.PackageValue" title="@package.NumberExpire" value="@package.PackageID">@package.PackageNameEnglish</option>
                                                                    }
                                                                }
                                                            }*@
                                                        </select>

                                                    </div>
                                                    <label style="color:red" id="lbPackage"></label>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                                <div class="col-md-12 text-center">
                                                    <input type="button" style="padding: 5px 30px; cursor: pointer; height: 35px" onclick="return SubmitPackageMember()" value="Confirm" class="btn-primary">

                                                </div>

                                            </div>


                                            <!-- Edit Form -->
                                        </div>


                                        <!--/.Card content-->
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        }
        else
        {
            <div class="js-wrapper-fix">
                <div class="box-profile-cont" style="padding-top:10px">
                    <!-- Section: Edit Account -->
                    <section class="section">
                        <!-- First row -->
                        <div class="row">

                            <div class="col-lg-6" style="margin:0 auto">
                                <!--Card-->
                                <div class="card card-cascade narrower mb-r">
                                    <div class="admin-panel info-admin-panel">
                                        <!--Card image-->
                                        <div class="view primary-color">
                                            <h5>Thông tin nạp gói</h5>
                                        </div>
                                        <!--/Card image-->
                                        <!--Card content-->
                                        <div class="card-block">
                                            <!-- Edit Form -->
                                            <!--First row-->
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">Ví điện tử</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" readonly="readonly" value="@ViewData["EWallet"]" id="txtEwallet" name="txtEwallet" class="form-control validate">

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <select id="cbPackage" name="cbPackage" onchange="ResetField()" class="form-control">
                                                            <option title="0" value="0">Chọn gói</option>
                                                            @*@if (ViewData["ListPackage"] != null)
                                                            {
                                                                List<PackageBO> lstPackage = (List<PackageBO>)ViewData["ListPackage"];
                                                                if (lstPackage != null && lstPackage.Count() > 0)
                                                                {
                                                                    foreach (PackageBO package in lstPackage)
                                                                    {
                                                                        <option id="@package.PackageValue" title="@package.NumberExpire" value="@package.PackageID">@package.PackageName</option>
                                                                    }
                                                                }
                                                            }*@
                                                        </select>

                                                    </div>
                                                    <label style="color:red" id="lbPackage"></label>
                                                </div>
                                            </div>



                                            <div class="row">
                                                <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                                <div class="col-md-12 text-center">
                                                    <input type="button" style="padding: 5px 30px; cursor: pointer; height: 35px" onclick="return SubmitPackageMember()" value="Xác nhận" class="btn-primary">

                                                </div>

                                            </div>


                                            <!-- Edit Form -->
                                        </div>


                                        <!--/.Card content-->
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                    </section>
                </div>
            </div>
        }
    </div>
</main>
<input type="hidden" id="hdEwallet" value="@ViewData["EWallet"]">

<script type="text/javascript" src="/Scripts/package/package.js"></script>
