﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@{
    ViewBag.Title = "Manager Country Send SMS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/award" style="text-decoration: none;"><i class="glyphicon glyphicon-gift"></i>@ViewBag.Title</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                <div class="box-content">*@
                    <div class="col-md-3">
                        <input type="text" onkeydown="return ProccessSearch(event,this.value)" class="form-control" placeholder="Input country name" id="txtKeyword" name="txtKeyword">
                    </div>
                   
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchCountryName()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                     </div>
                    @*</div>
                </div>*@
                </div>
            </div>
            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateCountry()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i> Create Country</a>
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List Country</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th class="text-center">CountryID</th>
                                        <th class="text-center">Country Name</th>
                                        <th class="text-center">Phone Code</th>
                                        <th class="text-center">Create Date</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListCountry">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTCOUNTRY] != null)
                            {
                                IEnumerable<CountryBO> lstCountry = (IEnumerable<CountryBO>)ViewData[ViewDataKey.VIEWDATA_LISTCOUNTRY];
                                if (lstCountry != null)
                                {
                                    foreach (CountryBO country in lstCountry)
                                    {
                                        string titleStatus = "Lock";
                                        string status = "Active";
                                        if (country.IsActive == 0)
                                        {
                                            status = "InActive";
                                            titleStatus = "Unlock";
                                        }

                                        int CountryID = country.CountryID;
                                        string CountryName = country.CountryName;
                                        string PhoneCode = country.PhoneZipCode;

                                        <tr id="trGroup_@CountryID" class="none-top-border">
                                            <td class="text-center">@CountryID</td>
                                            <td class="text-center">@CountryName</td>
                                            <td class="text-center">@PhoneCode</td>
                                            <td class="text-center">@country.CreatedDate</td>
                                            <td class="text-center">
                                                <span class="label-success label label-default">@status</span>
                                            </td>
                                            <td class="text-center">
                                                <img src="/Images/loading.gif" id="imgLoading_@CountryID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                <a class="btn btn-info btn-sm" title="@CountryName" href="#" onclick="ShowPopUpEditCountry('@CountryID','@CountryName','@PhoneCode')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockCountry('@CountryID','@country.IsActive')" title="@titleStatus">
                                                    @if (country.IsActive == 1)
                                            {
                                                <i class="glyphicon glyphicon-ok"></i>
                                    }
                                    else
                                    {
                                        <i class="glyphicon glyphicon-remove"></i>
                            }
                                                </a>
                                            </td>
                                        </tr>
                            }
                        }
                    }

                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdCountryID" value="0" />

<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Country Information</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Country name: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorCountryName', this.value)" id="txtCountryName" name="txtCountryName" placeholder="Country name" class="form-control validate">

                            </div>
                            <label id="lbErrorCountryName" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:15px;">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">Phone SMS code: </div>
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorPhoneSMS', this.value)" id="txtPhoneSMS" name="txtPhoneSMS" placeholder="Phone sms code" onkeypress="return onlyNumber(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorPhoneSMS" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveCountry()" contenteditable="true">Save</a>

            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/Country/country.js"></script>

