﻿@model BBH.Lotte.CLP.Web.Models.RecoverPasswordViewModel
<link href="/Content/LotteryCarcoin/assets/css/font-awesome.min.css" rel="stylesheet">
<div class="title h6">Recover Password</div>
<form class="content" id="frRecoverPassword">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group is-empty">
                <label class="control-label">Your Email</label>
                @*<input class="form-control" placeholder="" type="email">*@
                @Html.EditorFor(model => model.EmailRecoverassword, new { htmlAttributes = new { @class = "form-control", @type = "email" }, })
                @Html.ValidationMessageFor(model => model.EmailRecoverassword)
            </div>
            <button type="submit" class="btn btn-primary btn-login full-width none-transform-bold">Submit</button>
            <div class="or"></div>
            <a href="#login" data-toggle="tab" role="tab" class="btn bg-facebook full-width btn-icon-left"><i class="fa fa-undo" aria-hidden="true"></i>Back to login</a>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/Scripts/register/recover-password.js"></script>

