﻿@model BBH.Lotte.CLP.Web.Models.UpdatePasswordViewModel
<link href="/Content/LotteryCarcoin/assets/css/font-awesome.min.css" rel="stylesheet">
<div class="title h6">Update Password</div>
<form class="content" id="frUpdatePassword">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group is-empty">
                <label class="control-label">New Password</label>
                @*<input class="form-control" placeholder="" type="email">*@
                @Html.EditorFor(model => model.PasswordUpdate, new { htmlAttributes = new { @class = "form-control", @type = "password" }, })
                @Html.ValidationMessageFor(model => model.PasswordUpdate)
            </div>
            <div class="form-group is-empty">
                <label class="control-label">Comfirm New Password</label>
                @Html.EditorFor(model => model.ConfirmPasswordUpdate, new { htmlAttributes = new { @class = "form-control", @type = "password" }, })
                @Html.ValidationMessageFor(model => model.ConfirmPasswordUpdate)
            </div>
            <button type="submit" class="btn btn-primary btn-login full-width none-transform-bold">Submit</button>
            <div class="or"></div>
            <a href="#login" data-toggle="tab" role="tab" class="btn bg-facebook full-width btn-icon-left"><i class="fa fa-undo" aria-hidden="true"></i>Back to login</a>
        </div>
    </div>
    @Html.HiddenFor(model => model.EmailUpdatePass)
    @Html.HiddenFor(model => model.LinkReferenceUpdatePassword)
</form>
<script type="text/javascript" src="~/Scripts/register/update-password.js"></script>
