﻿@model BBH.Lotte.CLP.Web.Models.RegisterViewModel

<div class="title h6">Register to Lottery</div>
<form class="content" id="frRegister">
    <div class="row">
        @*<div class="col-lg-6 col-md-6">
                <div class="form-group is-empty">
                    <label class="control-label">First Name</label>
                    @Html.EditorFor(model => model.FirtName, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "text" }, })
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group  is-empty">
                    <label class="control-label">Last Name</label>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "", @type = "text" }, })
                </div>
            </div>*@
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="form-group  is-empty">
                <label class="control-label">Your Email</label>
                @*<input class="form-control" placeholder="" type="email">*@
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" }, })
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="form-group is-empty">
                <label class="control-label">Your Password</label>
                @*<input class="form-control" placeholder="" type="password">*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" }, })
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="remember">
                <div class="checkbox">
                    <label>
                        @*<input name="optionsCheckboxes" type="checkbox">*@
                        @Html.CheckBoxFor(model => model.TermsAndConditions)
                        I accept the <a href="#">Terms and Conditions</a> of the website
                    </label>
                    @Html.ValidationMessageFor(model => model.TermsAndConditions)
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-login full-width none-transform-bold">Register</button>
        </div>
    </div>
    @Html.HiddenFor(model => model.LinkReference)
</form>
<script type="text/javascript" src="~/Scripts/register/register-member.js"></script>