﻿@model BBH.Lotte.CLP.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}
<link href="~/Content/css/passwordscheck.css" rel="stylesheet" />
<div class="heading-sub-section pb-30">
    <h4 class="head-title">Change password</h4>
</div>
<div class="content settings">
    <div class="col-sm-4 left-content">
        <form id="frResetPassword">
            <h5 class="title-setting">Change password</h5>
            <div class="form-group">
                <label class="label-lg">New Password</label>
                @*<input type="password" onfocus="ResetField(1)" id="txtNewPassword" name="txtNewPassword" class="form-control validate" placeholder="********">*@
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control validate", @type = "password", @id = "txtNewPassword", @name = "txtNewPassword", @placeholder = "********", @onfocus = "ResetField(1)" }, })
                @Html.ValidationMessageFor(model => model.Password)
                <span id="result"></span>
            </div>
            <div class="form-group">
                <label class="label-lg">Comfirm New Password</label>
                @*<input type="password" onfocus="ResetField(2)" id="txtConfirmNewPassword" name="txtConfirmNewPassword" class="form-control validate" placeholder="********">*@
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control validate", @type = "password", @id = "txtConfirmNewPassword", @name = "txtConfirmNewPassword", @placeholder = "********", @onfocus = "ResetField(2)" }, })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-warning btn-sm">
            </div>
        </form>
    </div>
    @*<div class="col-sm-4 right-content">
            <h5 class="title-setting">Security</h5>
            <div class="form-group">
                <label class="label-lg">1. E-mail verification</label>
                <p>Confirm your email address, it will be used for sending confirmation codes and other important information.</p>
                <button class="btn btn-danger btn-sm disabled">Disable</button>
                <button class="btn btn-success btn-sm ">Active</button>
            </div>

            <div class="form-group">
                <label class="label-lg">2. Two-factor authentication</label>
                <p>The highest level of security that will help to prevent unauthorized access to your account in case your password is stolen</p>
                <button class="btn btn-danger btn-sm disabled">Disable</button>
                <button class="btn btn-success btn-sm">Active</button>
            </div>
        </div>*@
    @*<div class="col-sm-4 left-content">
            <h5 class="title-setting">Emails and newsletters</h5>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        I want to receive service emails
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="">
                        I want to receive newsletters
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="button" value="Save" class="btn btn-warning btn-sm">
            </div>
        </div>*@
</div>
@*<script type="text/javascript" src="/Scripts/member/member.js"></script>*@
<script type="text/javascript" src="~/Scripts/member/change-password.js"></script>