﻿@{
    Layout = null;
}
@using BBH.LotteFE.CLP.Domain;
<div class="modal fade" id="input-mobile" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-center">Input Mobile Get Free Ticket</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="form-group">
                            <label>Input Mobile</label><br />
                        </div>
                        <div class="flex">
                            <div class="w-200">
                                <select class="custom-select" id="cbPhonecode" onfocus="ResetForm('lbPhonecode', this.value)">
                                    <option value="0">+00</option>
                                    @if (ViewData["lstCountry"] != null)
                                    {
                                        IEnumerable
                                        <CountryBO>
                                            lstCountry = (IEnumerable<CountryBO>)ViewData["lstCountry"];
                                        if (lstCountry != null && lstCountry.Count() > 0)
                                        {

                                            foreach (CountryBO CountryBO in lstCountry)
                                            {
                                                string countryName = CountryBO.CountryName;
                                                string dot = "...";
                                                if (countryName.Length > 15)
                                                {
                                                    countryName = countryName.Substring(0, 13) + dot;
                                                }
                                                <option value="@CountryBO.PhoneZipCode">@countryName @CountryBO.PhoneZipCode</option>
                                            }
                                        }
                                    }
                                </select>
                                <label id="lbPhonecode" style="color:red; display:none"></label>
                            </div>
                            <div class="">
                                <input type="text" onfocus="ResetForm('lbMobile', this.value)" id="txtMobile" placeholder=" 987656545" onkeypress="return onlyNumber(event)" class="form-control col-sm-2 validate" />
                                <label id="lbMobile" style="color:red; display:none"></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" onclick="SentMobile()">Send</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

