﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Manager Function";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/groupadmin" style="text-decoration: none;"><i class="glyphicon glyphicon-book"></i>  Manager Function</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateNewGroupAdmin()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>  Create New</a>
                </div>
            </div>
            @*<div class="row">
                    <div class="box col-md-12">

                        <div class="col-md-3">
                            <input type="text" onkeydown="return ProccessSearch(event,this.value)" class="form-control" placeholder="Nhập email, E-wallet" id="txtKeyword" name="txtKeyword">
                        </div>
                        <div class="col-md-2">
                            <img id="imgLoadingSearch" src="/Images/loading.gif" style="display:none; position:relative; float:right">
                            <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchMember()">Tìm kiếm</button>
                        </div>

                    </div>
                </div>*@

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>List function</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Function Name</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListGroupAdmin">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTGROUP] != null)
                                    {
                                        IEnumerable<GroupAdminBO> lstGroupAdmin = (IEnumerable<GroupAdminBO>)ViewData[ViewDataKey.VIEWDATA_LISTGROUP];
                                        if (lstGroupAdmin != null && lstGroupAdmin.Count() > 0)
                                        {
                                            foreach (GroupAdminBO groupAdmin in lstGroupAdmin)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (groupAdmin.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                <tr id="trGroup_@groupAdmin.GroupID" class="none-top-border">
                                                    <td class="center">@groupAdmin.GroupID</td>
                                                    <td>@groupAdmin.GroupName</td>

                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@groupAdmin.GroupID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">

                                                        <a class="btn btn-info btn-sm" title="@groupAdmin.GroupName" href="javascript:void(0)" onclick="ShowPopUpEditGroupAdmin('@groupAdmin.GroupID', this.title)" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>

                                                        <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="LockAndUnlockGroupAdmin('@groupAdmin.GroupID','@groupAdmin.IsActive')" title="@titleStatus">
                                                            @if (groupAdmin.IsActive == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>

                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdGroupID" value="0" />
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Function Infomation</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorGroupName', this.value)" id="txtGroupName" name="txtGroupName" placeholder="Function Name" class="form-control validate">

                            </div>
                            <label id="lbErrorGroupName" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveGroupAdmin()" contenteditable="false">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<script type="text/javascript" src="/Scripts/groupadmin/groupadmin.js"></script>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
