﻿

<footer class="footer footer-profile">
    <div class="footer-info">
        <div class="profile-cont_center">
            <div class="footer-profile-right">
                    <a class="btn-question" onclick="gotoContactPage();">Contact</a>
            </div>
            <div class="footer-profile-left">
                @*<ul class="footer-social">
                        <li>
                            <a href="/" target="_blank" class="fb"><span class="icon-facebook-dark">Quy định sử dụng</span></a>
                        </li>

                        <li>
                            <a href="/" target="_blank" class="instagram"><span class="slack-dark">Chính sách</span></a>
                        </li>

                        <li>
                            <a href="/" target="_blank" class="tw"><span class="icon-twitter-dark">Giải thưởng</span></a>
                        </li>

                        <li>
                            <a href="/" target="_blank" class="youtube"><span class="icon-steemit-dark">Điều lệ</span></a>
                        </li>
                    </ul>*@
                @*<div class="copyright" style="">Quy định sử dụng</div>
                    <div class="copyright">Quy định sử dụng</div>
                    <div class="copyright">Quy định sử dụng</div>*@
                <div class="copyright"><span class="font14" >©</span>&nbsp;<a href="/" target="_blank">RippleLot</a>, 2017 </div>
            </div>
        </div>
    </div>
</footer>
