﻿.jumbotron1 {
    /*
        Chúng ta sẽ tạo một hiệu ứng màu đen trắng kiểu gradient bằng cách giảm Opacity xuống còn 60%.
        Với hiệu ứng gradient này, chúng ta sẽ kết hợp với 'background-color' để tạo ra các hiệu ứng chuyển động màu sắc sau này.
    */
    background-image: linear-gradient( rgba(255,255,255,0.6), rgba(0,0,0,0.6) );
    display: inline-block;
    height: 70px;
    width: 120px;
    line-height: 70px;
    margin: 5px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}
.jumbotron1 {
    background-color: #FF0; /* Màu vàng */
    animation: rgb 3s infinite alternate;
    -webkit-animation: rgb 3s infinite alternate; /*Dùng cho Safari và Chrome*/
}

@keyframes rgb {
    /* 0% sẽ có màu mặc định là màu vàng */
    50% {
        background-color: #06F; /* Màu xanh*/
    }

    100% {
        background-color: #F00; /* Màu đỏ */
    }
}

/*Dùng cho Safari và Chrome*/
@-webkit-keyframes rgb {
    /* 0% sẽ có màu mặc định là màu vàng */
    50% {
        background-color: #06F; /* Màu xanh*/
    }

    100% {
        background-color: #F00; /* Màu đỏ */
    }
}