﻿.fairform {
    width: 100%;
    max-width: 830px;
    /*min-height: 400px;*/
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #f6b559;
    margin: 10px 0 44px;
    padding: 34px 48px 22px;
    position: relative;
    float: left;
}

.fairform form {
    position: relative;
    z-index: 3;
}
.fairform h2 {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: .7px;
    margin: 10px 0 0;
}

.checkfairness h2 {
    clear: both;
    margin: 10px 0 30px;
}
.fairform .small_switcher {
    padding: 0;
    margin: -3px 0 1px;
}

.small_switcher {
    display: block;
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 10px;
}
.fairform .box-field {
    margin-bottom: 24px;
}
.checkfairness .g-recaptcha {
    margin: 10px 0 30px;
    display: inline-block;
    float: left;
}

input, textarea {
    color: #333;
    outline: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    border: none;
}
*, :after, :before {
    box-sizing: border-box;
}
.checkfairness .fairform .btn-short.btn-orange {
    width: 230px;
    margin-left: 18px;
}
.checkfairness .btn-short.btn-orange {
    float: left;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    height: 70px;
    margin-left: 20px;
}
.btn-short.btn-orange {
    border-bottom: none !important;
}

.btn-short.btn-orange, .btn-short.btn-orange:hover {
        box-shadow: 0 5px 0 0 #c6844b;
    }
button, input[type=submit], input[type=button] {
    cursor: pointer;
    border: none;
}

.btn-short {
    width: 200px;
    border-radius: 5px;
    font-size: 14px;
    letter-spacing: .6px;
}

.fairform-robot-chain {
    position: absolute;
    z-index: 2;
    top: 38px;
    right: -66px;
}

.fairform .smsw_switcher {
    text-align: left;
    margin: 0 0 29px;
}

.smsw_switcher {
    width: 100%;
    text-align: center;
}

.checkfairness .fairform .box-field__label {
    font-size: 14px;
    letter-spacing: .1px;
    color: #000;
}

.box-profile-form .box-field__label {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1.1px;
    font-weight: 300;
    display: block;
    margin-bottom: 10px;
}
.box-profile-form .box-field__input, .box-profile-item {
    position: relative;
}
.box-profile-form .input-text {
    border-bottom: 1px solid #ebeef0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    height: 47px;
}
.fairform .box-field-subtext a {
    color: #f6b559;
    text-decoration: underline;
}

a {
    outline: 0;
}

.g-recaptcha {
    margin: -6px 0 30px;
    display: inline-block;
    float: left;
}









