﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@{
    ViewBag.Title = "Manager Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/admin" style="text-decoration: none;"><i class="glyphicon glyphicon-eye-open"></i>  Manager Admin</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateNewAdmin()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-plus"></i>   Create New</a>
                </div>
            </div>
          
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i> List admin</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Username</th>
                                        <th>FullName</th>
                                        <th>Email</th>
                                        <th>Mobile</th>
                                        <th>Function</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyAdmin">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTADMIN] != null)
                                    {
                                        IEnumerable<AdminBO> lstAdmin = (IEnumerable<AdminBO>)ViewData[ViewDataKey.VIEWDATA_LISTADMIN];
                                        if (lstAdmin != null && lstAdmin.Count() > 0)
                                        {
                                            foreach (AdminBO admin in lstAdmin)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (admin.IsDelete == 1)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                <tr id="trGroup_@admin.AdminID" class="none-top-border">
                                                    <td class="center">@admin.AdminID</td>
                                                    <td>@admin.UserName</td>
                                                    <td>@admin.FullName</td>
                                                    <td>@admin.Email</td>
                                                    <td>@admin.Mobile</td>
                                                    <td>@admin.GroupName</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@admin.AdminID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        <a class="btn btn-info btn-sm" title="@admin.FullName" href="#" onclick="ShowPopUpEditAdmin('@admin.AdminID','@admin.UserName', this.title,'@admin.Email','@admin.Mobile','@admin.Address','@admin.GroupID')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                        <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockAdmin('@admin.AdminID','@admin.IsDelete')" title="@titleStatus">
                                                            @if (admin.IsDelete == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hdAdminID" value="0" />
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Admin Infomation </p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorUserName', this.value)" id="txtUserName" name="txtUserName" placeholder="UserName" class="form-control validate">

                            </div>
                            <label id="lbErrorUserName" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="password" onfocus="ResetForm('lbErrorPassword', this.value)" id="txtPassword" name="txtPassword" placeholder="Password" class="form-control validate">

                            </div>
                            <label id="lbErrorPassword" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorEmail', this.value)" id="txtEmail" name="txtEmail" placeholder="Email" class="form-control validate">

                            </div>
                            <label id="lbErrorEmail" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorFullName', this.value)" id="txtFullName" name="txtFullName" placeholder="FullName" class="form-control validate">

                            </div>
                            <label id="lbErrorFullName" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" id="txtMobile" onfocus="ResetForm('lbErrorMobie', this.value)" name="txtMobile" placeholder="Mobile" onkeypress="return onlyNumbers1(event)" class="form-control validate">
                            </div>
                            <label id="lbErrorMobie" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" id="txtAddress" name="txtAddress" onfocus="ResetForm('lbErrorAddress', this.value)" placeholder="Address" class="form-control">
                            </div>
                            <label id="lbErrorAddress" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <select id="cbGroupAdmin" name="cbGroupAdmin" onchange="ResetForm('lbErrorGroupAdmin', this.value)" class="form-control">
                                    <option value="0">Select function</option>
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTGROUP] != null)
                                    {
                                        IEnumerable<GroupAdminBO> lstGroupAdmin = (IEnumerable<GroupAdminBO>)ViewData[ViewDataKey.VIEWDATA_LISTGROUP];
                                        if (lstGroupAdmin != null && lstGroupAdmin.Count() > 0)
                                        {
                                            foreach (GroupAdminBO group in lstGroupAdmin)
                                            {
                                                <option value="@group.GroupID">@group.GroupName</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <label id="lbErrorGroupAdmin" style="color: red; display: none" class=""></label>
                        </div>
                    </div>
                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveAdmin()" contenteditable="false">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script type="text/javascript" src="/Scripts/admin/admin.js"></script>

