﻿
@{
    ViewBag.Title = "CheckTransparency";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
    ViewBag.TitlePage = "Check transparent";
}
<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>
<div class="heading-sub-section pb-30">
    <h4 class="head-title">@ViewBag.TitlePage</h4>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="fair_form">
                <h3 class="text-info">Check the results</h3>
                <p><strong>Of 114 draw or newer</strong></p>
                <div class="form-group form-info">
                    <label for="blockchainHash">Block Hash</label>
                    <input type="text" class="form-control" id="rippleHash" onfocus="ResetForm('lbrippleHash', this.value)" name="hash" placeholder="">
                </div>
                <div class="input-group">
                    <label id="lbrippleHash" style="color:red; display:none;" class=""></label>
                </div>
                <p>Hash of any circulation can be found in the <a href="/Award/PastResult">archive</a></p>
                <div class="g-recaptcha" id="captcha" onfocus="ResetForm('lbrecaptcha', this.value)" data-sitekey="@(System.Configuration.ConfigurationManager.AppSettings["SiteKey"])"></div>
                <a name="reset_checker" id="reset_checker" onclick="CheckNow();" value="Check now" class="btn btn-warning" data-toggle="modal"> Check now</a>
            </div>
            <div class="fair_about">
                <h4>How the winning combination is generated</h4>
                <ul class="fair_about__list">
                    <li>
                        After the rally closes, we expect another Hash in the blockchain. Suppose this is a hash that we've got:
                        <br>
                        <b><a style="word-break: break-all;" href="https://blockchain.info/en/block/0000000000000000005867634c363284caf01ce5dd2d6e2a6c2ab26030f33493" target="_blank">0000000000000000005867634c363284caf01ce5dd2d6e2a6c2ab26030f33493</a></b>
                        <span class="fair-about-link"></span>
                    </li>
                    <li>
                        This Hash is divided into:
                        <div class="breaking_hash">
                            <span>0000000000000000005</span>
                            <span>8676</span>
                            <span>34c3</span>
                            <span>6328</span>
                            <span>4caf</span>
                            <span>01ce5</span>
                            <span>dd2d</span>
                            <span>6e2a</span>
                            <span>6c2a</span>
                            <span>b260</span>
                            <span>30f3</span>
                            <span>3493</span>
                        </div>
                        Each of these sequences of 4 (beginning with the tail) is then converted to a number using NHEX with base 16:
                        <b>(3493)<sub>16</sub> = (13459)<sub>10</sub></b>
                        <span class="fair-about-link"></span>
                    </li>
                    <li>
                        Then the number 13459 is divided modulo by 39 (or 18 for the last iteration), and the remainder is taken as one of the balls:
                        <b>13459 mod 39 = 345 x 39 + 4</b><br>
                        <b>Consequently, the first ball -<span class="first-ball">4</span></b><br>
                        We repeat this procedure 5 times and discard the number that is already in the set. For the last ball, we simply use mod 18 instead of mod 39.
                    </li>
                </ul>
                <!--noindex-->
                <p><a target="_blank" href="https://en.wikipedia.org/wiki/Hexadecimal" rel="nofollow" class="arrow-link"><i class="fa fa-link"></i><span>More about Hexadecimal (Article from Wikipedia)</span></a></p>
                <p><a target="_blank" href="http://www.binaryhexconverter.com/hex-to-decimal-converter" rel="nofollow" class="arrow-link"><i class="fa fa-link"></i><span>Hexadecimal to Decimal Converter</span></a></p>
                <!--/noindex-->
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>
<script>
    function CheckNow() {
        var bolCheckReg = true;
        var rippleHash = "";
        if (typeof $('#rippleHash') != 'undefined' && $('#rippleHash').length > 0) {
            rippleHash = $('#rippleHash').val();
        }

        if (rippleHash == '') {
            $('#lbrippleHash').text('Hash required for check.');
            $('#lbrippleHash').css('display', '');

            bolCheckReg = false;
        }
        var strCaptcha = "";
        if (typeof $('#g-recaptcha-response') != 'undefined' && $('#g-recaptcha-response').length > 0) {
            strCaptcha = $('#g-recaptcha-response').val();
        }

        if (strCaptcha == null || strCaptcha.trim().length == 0) {
            if (typeof $('#lbrecaptcha') != 'undefined' && $('#lbrecaptcha').length > 0) {
                $('#lbrecaptcha').text('The captcha field is required!');
                $('#lbrecaptcha').css('display', '');

            }
            alertify.error('Are you robot!');
            checkMaxShowAlertNoti(1);
            bolCheckReg = false;
        }
        if (!bolCheckReg) {
            return false
        }
        else {
            var param = {};
            param.strHash = rippleHash;
            param.strCaptcha = strCaptcha;
            $.ajax({
                type: "post",
                async: true,
                url: "/Checker/CheckHashTransparency",
                data: param,
                beforeSend: function () {
                    showLoadingNew();
                },
                success: function (data) {
                    hideLoadingNew();
                    if (data.intTypeError == 0) {
                        ResetForm('lbrecaptcha', '');
                        ResetForm('lbrippleHash', '');
                        grecaptcha.reset();
                        $("#myModal").empty();
                        $("#myModal").append(data.result);
                        $("#myModal").modal();
                    }

                    if (data.intTypeError == 2) {
                        alertify.error('Are you robot!');
                        checkMaxShowAlertNoti(1);
                    }


                },
                error: function (msg) {
                    alertify.error('Error Register. Contact with administrator, Please!');
                    checkMaxShowAlertNoti(1);
                }
            })
        }
    }

    function ResetForm(id, value) {
        $('#' + id).text('');
        $('#' + id).css('display', 'none');
    }
</script>
