﻿@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300;
    src: local('Nunito Light'), local('Nunito-Light'), url(../fonts/Nunito/Nunito-Light.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: local('Nunito Regular'), local('Nunito-Regular'), url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: local('Nunito Bold'), local('Nunito-Bold'), url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    src: local('Nunito Black'), local('Nunito-Black'), url(../fonts/Nunito/Nunito-Black.ttf) format('truetype');
}

body {
    font-family: Nunito;
}

.card-panel {
    text-align: center;
    border-radius: 10px;
    background-color: #38a9ff;
    padding: 30px 20px;
    font-weight: 700;
    font-size: 16px;
}

.card-panel .label {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
    display: block;
}

.card-panel .number {
    font-size: 18px;
    color: #000;
}

.row [class*=col-] {
    margin-top: 20px;
}

.panel-block {
    margin-top: 40px;
    border-radius: 10px;
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e6ecf5;
    box-shadow: 0 0 34px 0 rgba(63,66,87,.1);
}

.panel-block .title {
    color: #38a9ff;
    border-bottom: 2px solid #38a9ff;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.balls-icon {
    width: 11px;
    height: 11px;
    display: inline-block;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
    background: #8d8d8d;
    margin-right: 4px;
}

.c-orange {
    color: #ff9800;
}

.orange {
    background-color: #ff9800 !important;
}

.table-v2 {
    width: 100%;
     border: 1px solid #efefef; 
}



.table-v2 th,
.table-v2 td {
    padding: 10px 20px;
    font-size: 16px;
}

.table-v2 th {
    font-size: 16px;
    padding: 15px 20px;
    background-color: #1f3a47;
    font-weight: 700;
    color: #fff;
}

.table-v2 th:first-child {
    border-top-left-radius: 5px;
}

.table-v2 th:last-child {
    border-top-right-radius: 5px;
}

.table-v2 th:first-child,
.table-v2 tr td:first-child {
    padding-left: 40px;
}



.table-v2 tbody tr:nth-child(2n - 1) {
    background-color: #efefef;
}

.circle12 {
    background-color: #35b0e8;
    font-size: 13px;
    line-height: 24px;
    height: 24px;
}

.circle_ball1 {
    font-size: 13px;
    line-height: 24px;
    height: 24px;
    background-color: #ff9800;
}