﻿#cbMember_chosen
{
    width: 175px;
        margin-left: -17px;
}
#cbAdmin_chosen
{
    width: auto !important;
        margin-left: -17px;
}
.circle {
			width: 150px;
			height: 30px;
			background: #C30;
			text-align: center;
			padding: 5px;
			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
		}
.circle1 {
			width: 35px;
			height: 30px;
			background: #C30;
			text-align: center;
            margin: 1px 2px 0px 4px;
    			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
            font-size: 19px;

		}

.circle_ball {
			width: 35px;
			height: 30px;
			background: #ffd800;
			text-align: center;
            margin: 1px 2px 0px 4px;
    			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
            font-size: 19px;

		}

.circle11 {
			width: 150px;
			height: 30px;
			background: #C30;
			text-align: center;
			padding: 5px;
			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
		}
.circle12 {
			width: 25px;
			height: 22px;
			background: #C30;
			text-align: center;
            margin: 0px 1px 0px 0px;
    			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
            font-size: 15px;

		}

.circle_ball1 {
			width: 25px;
			height: 22px;
			background: #ffd800;
			text-align: center;
            margin: 0px 1px 0px 0px;
    			color: #fff;
			-moz-border-radius: 100px;
			-webkit-border-radius: 100px;
			border-radius: 100px;
            float:left;
            display:inherit;
            font-size: 15px;

		}