﻿@using BBH.Lotte.CLP.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Award Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/awardresult">Award Result</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <!--Crucial button-->
                <div class="col-12 text-center">
                    <a onclick="ShowPopupCreateNewAwardNumber()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="fa fa-plus left"></i> Create New Award Result</a>
                </div>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Choose Date" id="txtDatetime" name="txtDatetime">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchAward()">Search</button>
                        <button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 90px; margin-left:20px; float:right" onclick="ExportExcelAwardWinner()">Export Excel</button>
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2>Award result date <span id="spanAwardDate">@DateTime.Now.ToString("MM/dd/yyyy")</span></h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Transaction code</th>
                                        <th>Win number</th>
                                        <th>AwardName</th>
                                        <th>Create Date</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyAwardNumber">
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARDNUMBER] != null)
                                    {
                                        IEnumerable<AwardNumberBO> lstAwardNumber = (IEnumerable<AwardNumberBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARDNUMBER];
                                        if (lstAwardNumber != null)
                                        {
                                            foreach (AwardNumberBO award in lstAwardNumber)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (award.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                <tr id="trGroup_@award.NumberID" class="none-top-border">
                                                    <td class="center">@award.AwardID</td>
                                                    <td>@award.NumberValue</td>
                                                    <td class="center">@award.AwardName</td>
                                                    <td class="center">@award.CreateDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@award.AwardID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        <a class="btn btn-info btn-sm" title="@award.NumberValue" href="#" onclick="ShowPopUpEditAwardNumber('@award.NumberID','@award.AwardID', this.title,'@award.StationName','@award.StationNameEnglish')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                        <a class="btn btn-warning btn-sm" href="#" onclick="LockAndUnlockAwardNumber('@award.NumberID','@award.IsActive')" title="@titleStatus">
                                                            @if (award.IsActive == 1)
                                                            {
                                                                <i class="glyphicon glyphicon-ok"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            }
                                                        </a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="4"> <strong> No result found </strong></td></tr>
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2>List winner date <span id="spanWinnerDate">@DateTime.Now.ToString("MM/dd/yyyy")</span></h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Transaction Code</th>
                                        <th>Email</th>
                                        <th>BTC Wallet</th>
                                        <th>Win number</th>
                                        <th>Open Date</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyWinnerAward">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTWINERAWARD] != null)
                                    {
                                        IEnumerable<WinnerBO> lstWinerAward = (IEnumerable<WinnerBO>)ViewData[ViewDataKey.VIEWDATA_LISTWINERAWARD];
                                        if (lstWinerAward != null)
                                        {
                                            foreach (WinnerBO award in lstWinerAward)
                                            {
                                                <tr id="trGroup_@award.BookingID" class="none-top-border">
                                                    <td>@award.TransactionCode</td>
                                                    <td>@award.Email</td>
                                                    <td>@award.E_Wallet</td>
                                                    @*<td class="center">@award.NumberValue</td>*@
                                                    <td class="center">@award.OpenDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="4"> <strong> No result found </strong></td></tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Information Award Result</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorNumberValue', this.value)" onkeypress="PreventInput(event,this.value)" id="txtNumberValue" name="txtNumberValue" placeholder="Win Number" class="form-control validate">

                            </div>
                            <label id="lbErrorNumberValue" style="color:red; display:none" class=""></label>
                        </div>
                    </div>
                    @*<div class="row" style="margin-bottom:15px">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorStation', this.value)" id="txtStationName" name="txtStationName" placeholder="Vietnamese StationName" class="form-control validate">

                            </div>
                            <label id="lbErrorStation" style="color: red; display: none" class=""></label>
                        </div>
                    </div>*@
                    @*<div class="row" style="margin-bottom:15px">
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorStationEnglish', this.value)" id="txtStationNameEnglish" name="txtStationNameEnglish" placeholder="English StationName" class="form-control validate">

                            </div>
                            <label id="lbErrorStationEnglish" style="color: red; display: none" class=""></label>
                        </div>
                    </div>*@
                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <select id="cbAward" name="cbAward" onchange="ResetForm('lbErrorAward', this.value)" class="form-control" data-rel="chosen">
                                    <option value="0">Select Award</option>
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARD] != null)
                                    {
                                        IEnumerable<AwardBO> lstAward = (IEnumerable<AwardBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARD];
                                        if (lstAward != null)
                                        {
                                            foreach (AwardBO award in lstAward)
                                            {
                                                <option value="@award.AwardID">@award.AwardNameEnglish</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <label id="lbErrorAward" style="color: red; display: none" class=""></label>
                        </div>
                    </div>
                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveAwardNumber()" contenteditable="true">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<input type="hidden" id="hdNumberID" value="0" />
<script src="/Scripts/jqueryui.js"></script>
<script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>
<script> 
    $("#txtDatetime").datepicker({ dateFormat: 'MM/dd/yyyy' });
    $('#txtNumberValue').numeric();
</script>
<script type="text/javascript" src="/Scripts/awardnumber/awardnumber.js"></script>